/* see common rules in toolbar.css */

#editorDragToolbar {
  display: none;
  border-radius: 5px;
  z-index: 1;
}

body:not(.overlayActive) #editorDragToolbar.active {
  display: flex;
}

#editorDragToolbar button span {
  width: 200px;
}

#editorDragToolbar .editorDragToolbarSettings button span {
  top: calc(var(--editToolbarHeight) + var(--editToolbarHeight) + 1px);
  white-space: normal;
}

#editorDragToolbar.settingsActive .dragToolbarSettingsButton button {
  background: var(--VTTblueDark);
  box-shadow: 0 0 0 2px #0006, 0 0 12px #0006;
}

.editorDragToolbarSettings {
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  transform: none;
  background: var(--VTTblue);
  border-radius: 5px;
  height: var(--editToolbarHeight);
  padding: 0 6px;
  gap: 6px;
  align-items: center;
  white-space: nowrap;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

#editorDragToolbar.settingsActive .editorDragToolbarSettings {
  display: flex;
}

.editorDragToolbarLabel {
  color: white;
  font-size: 12px;
  opacity: 0.9;
  padding: 0 2px;
}

body.dragToolbarDragging #editorDragToolbar button:hover span {
  display: none;
}

#editorDragToolbarFeedback {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  color: var(--textColor);
  background: var(--backgroundHighlightColor1);
  width: 100%;
  border-radius: inherit;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
}

#editorDragToolbarFeedback i {
  color: var(--textHighlightColor5);
}

body.dragToolbarDragging #editorDragToolbarFeedback.active {
  display: block;
}
