/* see common rules in toolbar.css */

#editorDragToolbar {
  display: none;
  border-radius: 5px;
}

#editorDragToolbar.active {
  display: flex;
}

#editorDragToolbar button span {
  width: 200px;
}
