body {
  --backgroundColor: white;
  --textColor: black;

  --backgroundHighlightColor1: #ccc;

  --textHighlightColor1: #880;
  --textHighlightColor2: orange;
  --textHighlightColor3: red;
  --textHighlightColor4: green;
  --textHighlightColor5: purple;
  --textHighlightColor6: blue;
  --textHighlightColor7: darkcyan;

  --textDimColor1: #ccc;

  color-scheme: light;
  --gridSize: 25px;
  --gridColor: #c0c0c0;
  --majorLineV: 400px;
  --majorLineH: 250px;
}

body.darkMode {
  --backgroundColor: #08090a;
  --textColor: #f8f8f2;

  --backgroundHighlightColor1: #444;

  --textHighlightColor1: yellow;
  --textHighlightColor2: orange;
  --textHighlightColor3: red;
  --textHighlightColor4: #7ed07e;
  --textHighlightColor5: #dda0dd;
  --textHighlightColor6: blue;
  --textHighlightColor7: #40e0d0;

  --textDimColor1: #606060;

  color-scheme: dark;
}

body:not(.edit) #editor,
body.edit #toolbar {
  display: none;
}

body.edit {
  background-image: none;
}
body.edit::after {
  display: none;
}

body.edit {
  --roomTop: var(--editModeRoomTop);
  --roomLeft: var(--editModeRoomLeft);
}

body.edit.zoomedOut #roomArea, body.edit.zoomedOut #topSurface {
  overflow: visible;
}

/* Regular gridlines */

body.gridLines #topSurface {
  background-image:
    linear-gradient(to right, transparent 0, transparent calc(var(--gridSize) - 1px), var(--gridColor) var(--gridSize), var(--gridColor) var(--gridSize)),
    linear-gradient(to bottom, transparent 0, transparent calc(var(--gridSize) - 1px), var(--gridColor) var(--gridSize), var(--gridColor) var(--gridSize));
  background-size: var(--gridSize) var(--gridSize)    
}

/* Up to 4 major vertical gridlines */

#majorGridLinesV1, #majorGridLinesV2 {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 4px;
  background: var(--gridColor);
  display: block;
}

#majorGridLinesV1 {
  left: calc(var(--majorLineV) - 2px);
}

#majorGridLinesV1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--majorLineV);
  width: 4px;
  background: var(--gridColor);
}

#majorGridLinesV2 {
  left: calc(var(--majorLineV) * 3 - 2px);
}

#majorGridLinesV2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--majorLineV);
  width: 4px;
  background: var(--gridColor);
}

/* Up to 4 major horizontal gridlines */

#majorGridLinesH1, #majorGridLinesH2 {
  position: fixed;
  width: 1600px;
  height: 4px;
  background: var(--gridColor);
  display: block;
}

#majorGridLinesH1 {
  top: calc(var(--majorLineH) - 2px);
}

#majorGridLinesH1::after {
  content: "";
  position: absolute;
  width: 1600px;
  top: var(--majorLineH);
  height: 4px;
  background: var(--gridColor);
}

#majorGridLinesH2 {
  top: calc(var(--majorLineH) * 3 - 2px);
}

#majorGridLinesH2::after {
  content: "";
  position: absolute;
  width: 1600px;
  top: var(--majorLineH);
  height: 4px;
  background: var(--gridColor);
}

#majorGridLinesV1.majorLinesHidden,
#majorGridLinesV2.majorLinesHidden,
#majorGridLinesH1.majorLinesHidden,
#majorGridLinesH2.majorLinesHidden {
  display: none;
}

#editorSelection {
  display: none;
  box-shadow: 0px 0px 0px 5px green;
  position: absolute;
  z-index: 2;
}
#editorSelection.active {
  display: block;
}

body.edit:not(.dragToolbarDragging) .widget.selectedInEdit:not(.pile) {
  box-shadow: 0px 0px 0px 5px yellow;
}

body.edit:not(.dragToolbarDragging) .widget.selectedInEdit.pile .handle {
  box-shadow: 0px 0px 0px 5px yellow;
}

body.edit:not(.dragToolbarDragging) .widget.selectedInEditPreview:not(.pile) {
  box-shadow: 0px 0px 0px 5px red;
}

body.edit:not(.dragToolbarDragging) .widget.selectedInEditPreview.pile .handle {
  box-shadow: 0px 0px 0px 5px red;
}

.hintUI {
  position: relative;
}

.hintUI > button {
  position: absolute;
  top: -34px;
  right: 0;
  margin: 0;
}

.hintUI > span {
  display: none;
  background: var(--VTTblue);
  color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border-top-right-radius: 0;
}

.active.hintUI > button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.active.hintUI > span {
  display: block;
}


.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
