@keyframes flash {
  0% { background-color: rgba(0, 150, 255, 0.3); }
  100% { background-color: transparent; }
}

.flash {
  animation: flash 1s ease-out;
}

.editorModule h1 {
  color: var(--VTTblue);
  text-align: center;
}

.editorModule h2 {
  color: white;
  background: var(--VTTblue);
  padding: 5px;
  border-radius: 5px;
  padding-left: 20px;
}

.editorModule .buttonBar {
  text-align: right;
  position: relative;
}

.editorModule .buttonBar button {
  display: inline-flex;
}

/* properties */

.editorModule .segmented-control button.active {
  background:var(--VTTblueDark);
  color:#fff;
}

.editorModule .widgetSelectionButton {
  height: 150px;
  width: 150px;
  margin: 3px;
  position: relative;
  display: inline-flex;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background-position: 0px 0, 5px 5px;
  background-size: 10px 10px, 10px 10px;
  border-radius: 10px;
  border: 3px solid #ccc;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.editorModule .widgetSelectionButton:hover, .editorModule .widgetSelectionButton.selected {
  border: 3px solid var(--VTTblue);
}
.editorModule .widgetSelectionButton.selected::after {
  font-family: 'Material Symbols';
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
  height: 1.25em;
  width: 1.25em;
  background: var(--VTTblue);
  color: #fff;
  border-top-right-radius: 40%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  content: 'check';
  position: absolute;
  top: -2px;
  right: -2px;
}
.editorModule .widgetSelectionButton .spinner > svg.background {
  left: 0;
}

.tune.editorModule .faceTemplateEdit {
  margin-bottom: 40px;
}

.tune.editorModule .faceTemplateEdit > div {
  display: inline-block;
  vertical-align: top;
}

.tune.editorModule .faceTemplateProperty {
  margin-left: 20px;
}


.tune.editorModule .suitProperties {
  height: 135px;
}

.tune.editorModule .suitProperties > button.widgetSelectionButton {
  position: absolute;
}

.tune.editorModule .suitProperties > div {
  margin-left: 160px;
}

.tune.editorModule .suitProperties label {
  display: inline-block;
  width: 60px;
}


.tune.editorModule .cardFrontPreview {
  display: flex;
  margin-bottom: 10px;
}

.tune.editorModule .cardFrontPreview > div {
  flex-grow: 1;
  text-align: left;
}

.tune.editorModule .cardFrontPreview img {
  max-width: 50%;
}

.tune.editorModule .cardFrontPreview [type=number] {
  vertical-align: super;
  width: 50px;
}


.tune.editorModule .cardTypeEdit {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.tune.editorModule .cardCountDiv {
  float: left;
}
.tune.editorModule .cardCountDiv button {
  display: inline-flex;
}
.tune.editorModule .cardCountDiv input {
  font-size: 30px;
  width: 54px;
  text-align: right;
}
.tune.editorModule .renderedWidget {
  margin: 5px;
}
.tune.editorModule .cardCountDivEditing {
  background: var(--backgroundHighlightColor1);
  border: 1px solid var(--textColor);
  border-radius: 5px;
}
.tune.editorModule .cardCountDivEditing [icon=create] {
  display: none;
}
.tune.editorModule .cardTypeProperties {
  padding: 10px;
}
.tune.editorModule .cardTypeProperties .buttonBar {
  margin-top: 10px;
}
.tune.editorModule .cardTypeEdit:not(.cardCountDivEditing) .cardTypeProperties {
  display: none;
}


.genericInput input, .genericInput textarea {
  width: 200px;
  min-width: 200px;
}
.genericInput textarea {
  height: 200px;
}
.genericInput > * {
  vertical-align: top;
}

/* validation */


.pest_control.editorModule .validation-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 12px;
}

.pest_control.editorModule .validation-table th {
  background-color: var(--VTTblue);
  color: white;
  padding: 6px 8px;
  text-align: left;
  font-weight: bold;
  border: 1px solid var(--textColor);
  position: sticky;
  top: 0;
  z-index: 1;
}

.pest_control.editorModule .validation-table td {
  padding: 6px 8px;
  border: 1px solid var(--textColor);
  vertical-align: top;
  word-break: break-word;
  max-width: 200px;
}

.pest_control.editorModule .validation-table td:nth-child(1) {
  max-width: 150px;
  font-weight: bold;
}

.pest_control.editorModule .validation-table td:nth-child(2) {
  max-width: 200px;
  font-family: monospace;
  font-size: 11px;
}

.pest_control.editorModule .validation-table td:nth-child(3) {
  max-width: 300px;
}

.pest_control.editorModule .validation-table tbody tr:nth-child(even) {
  background-color: var(--backgroundHighlightColor1);
}

.pest_control.editorModule .validation-table tbody tr:hover {
  background-color: var(--backgroundHighlightColor2);
  cursor: pointer;
}

.pest_control.editorModule .success {
  color: #28a745;
  font-weight: bold;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  margin: 10px 0;
}

.pest_control.editorModule .validation-controls {
  background-color: var(--backgroundHighlightColor1);
  border: 1px solid var(--textColor);
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.pest_control.editorModule .validation-time {
  color: var(--textColor);
  font-size: 12px;
  font-style: italic;
}

/* undo */

.undo.editorModule > .undoEntry {
  padding: 2px;
  color: var(--textDimColor1);
  cursor: pointer;
}

.undo.editorModule > .active.undoEntry {
  color: var(--textColor);
  background: var(--backgroundHighlightColor1);
  cursor: unset;
}

.undo.editorModule > .active.undoEntry ~ div {
  color: var(--textColor);
}


/* assets */

.image.editorModule .externalLink {
  display: flex;
  position: relative;
}

.image.editorModule .externalLink:nth-child(2n) {
  background: var(--backgroundHighlightColor1);
}

.image.editorModule .externalLink::after {
  font-family: "Material Symbols";
  font-size: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
  text-shadow: 0 0 4px white;
}

.image.editorModule .externalLink.queued::after {
  content: "hourglass_empty";
}

.image.editorModule .externalLink.processing::after {
  content: "cloud_download";
}

.image.editorModule .externalLink.done::after {
  content: "check_circle";
}

.image.editorModule .externalLink:nth-child(2n) {
  background: var(--backgroundHighlightColor1);
}

.image.editorModule .externalLink img {
  height: 75px;
  width: 75px;
  min-width: 75px;
  object-fit: contain;
}

.image.editorModule .externalLink span {
  word-break: break-all;
  padding: 5px;
}
.image.editorModule tr:nth-child(2n) {
  background: var(--backgroundHighlightColor1);
}
.image.editorModule td {
  padding: 10px;
}
.image.editorModule td > img {
  display: block;
  width: 75px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 0), white;
  background-position: 0px 0, 5px 5px;
  background-size: 10px 10px, 10px 10px;
  margin-bottom: 5px;
}
.image.editorModule td > input[type=checkbox] {
  float: left;
}
.image.editorModule td > label {
  white-space: pre;
  display: inline-block;
}

.widgets.editorModule .buttonBar input[type=text]{
  line-height: 33px;
  padding: 0 5px;
  border: 1px solid #0005;
  border-radius: 5px;
  padding-left: 25px;
  margin: 0;
}

.widgets.editorModule .buttonBar .widgetFilerIcon {
  font-family: "Material Symbols";
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  width: 24px;
  text-align: right;
  line-height: 36px;
}

.widgets.editorModule .editing [icon=delete], .widgets.editorModule .editing [icon=download], .widgets.editorModule .editing [icon=upload] {
  display: inline-block;
}

.widgets.editorModule [icon=delete], 
.widgets.editorModule [icon=download], 
.widgets.editorModule [icon=upload],
.widgets.editorModule .editing [icon=add], 
.widgets.editorModule .editing .widget-type {
    display: none;
}

.widgets.editorModule li input {
    pointer-events: none;
    border: none;
    font-weight: bold;
    background: transparent;
    padding: 2px 0;
    color: var(--textColor);
}

.widgets.editorModule .editing li input {
    pointer-events: auto;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    background: transparent;
    padding: 1px;
}

.widgets.editorModule .drag-handle {
  display: none;
  cursor: grab;
  margin-right: 5px;
}

.widgets.editorModule .editing .drag-handle {
  display: inline-block;
}

.widgets.editorModule li.dragging {
  opacity: 0.5;
}
.widgets.editorModule li.drag-over {
  background-color: var(--backgroundHighlightColor2);
}
.widgets.editorModule li.drag-over {
  background-color: var(--backgroundHighlightColor2);
}
.widgets.editorModule li.drag-over {
  background-color: var(--backgroundHighlightColor2);
}

.widgets.editorModule > ul {
  border-top: 1px solid #ccc;
}

.widgets.editorModule .widget-group ul {
  border-top: 0px none transparent;
}

.widgets.editorModule .widget-group + ul {
  border-top: 3px double var(--textColor);
}

.widgets.editorModule ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widgets.editorModule li {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.widgets.editorModule li .widget-info {
  flex-grow: 1;
  margin-left: 10px;
}

.widgets.editorModule li .widget-info .widget-type {
  font-size: 0.8em;
  color: #666;
}

.legend-text {
  font-size: 0.9em;
  margin-top: -1.5em;
}

.widgets.editorModule li .widget-info .widget-type svg{
  vertical-align: middle;
  width: 18px;
  height: 18px;
  fill: currentColor;
  margin: 0 0 0 3px;
}

.explainer-text svg, .legend-text svg{
  vertical-align: middle;
  width: 18px;
  height: 18px;
  fill: currentColor;
  margin: 0;
}

.widgets.editorModule li .widget-info .widget-type svg.hasRoutine, .widgets.editorModule .legend-text svg.hasRoutine{
  fill: orange;
}

.widgets.editorModule li .widget-info .widget-type svg.isUnique, .widgets.editorModule .legend-text svg.isUnique{
  fill: red;
}

.widgets.editorModule li .actions {
  display: flex;
  align-items: center;
}

.widgets.editorModule #editWidgetsButton.active {
  color: #ff0;
  background: var(--VTTblueDark);
}

.widgets.editorModule .unique-widget-label, .widgets.editorModule .name-widget-label span {
  display: none;
}

.widgets.editorModule .editing .name-widget-label span {
  display: block;
}

.widget-label > span {
  margin-bottom: -2px;
}

.widgets.editorModule .editing .unique-widget-label {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.widget-list-container{
  margin-bottom: 1em;
}

.widget-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--VTTblue);
  color: white;
  padding: 0 5px;
  border-radius: 5px 5px 0 0;
  min-height: 40px;
}

.collapsed .widget-list-header{
  border-radius: 5px;
}

.widget-list-actions {
  display: flex;
  gap: 0px;
}

.sidebarButton.sort-widgets:hover {
  background: var(--VTTblueDark) !important;
}

.widgets.editorModule li.readonly .unique-widget-label {
  display: none;
}

.widgets.editorModule li.readonly input {
  pointer-events: none;
  border: none;
}

.sidebarButton {
  position: relative;
}

.sidebarButton[icon] {
  padding-right: 0px;
}

.sidebarButton span {
  display: none;
  position: absolute;
  bottom: 100%;
  left: auto;
  right: 0;
  transform: translateX(0);
  margin-bottom: 5px;
  background: var(--VTTblueDark);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: none;
  z-index: 10;
  white-space: nowrap;
}

.sidebarButton span::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--VTTblueDark) transparent transparent transparent;
}

.sidebarButton:hover span {
  display: block;
}

.explainer-text {
  padding: 10px;
  color: #666;
  font-style: italic;
  text-align: center;
}

body.darkMode .widget-group-header {
    background: #666;
}

.widget-group-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.widget-group-header .group-name-input {
    flex-grow: 1;
    border: none;
    background: transparent;
    font-weight: bold;
    color: var(--textColor);
    padding: 0;
    pointer-events: none;
}

.editing .widget-group-header .group-name-input {
    pointer-events: auto;
    border: 1px solid #ccc;
    font-weight: normal;
    padding: 1px;
}

.widget-group-header .collapse-arrow, .widget-list-header .collapse-arrow {
    width: 1.2em;
    height: 1em;
    text-align: center;
}

.widget-list .new-group-drop-target {
  border: 2px dashed lightgray;
  color: lightgray;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1;
  font-size: 14px;
  font-style: italic;
  height: auto;
}

.widget-list .new-group-drop-target::before {
  content: '+';
  font-style: normal;
}

.widget-list .new-group-drop-target.drag-over {
  background-color: var(--backgroundHighlightColor1);
  color: white;
}

.widget-list-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.widget-list-container.collapsed .widget-list {
  display: none;
}

.widget-list-header-text {
  flex-grow: 1;
}


.editing .sort-control {
  display: none;
}

.widget-list-actions {
  margin: 3px 0;
}

div.widget-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

div.widget-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #222;
  border-radius: 3px;
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  height: 75px;
  width: 75px;
  max-width: 75px;
}

div.widget-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 2px white;
  padding: 2px 5px;
  box-sizing: border-box;
  line-height: 1;
  background-color: #fffb;
  z-index: 1;
  color: black;
}

.editorModule.widgets .widget-preview {
  height: 75px;
  width: 75px;
  max-width: 75px;
  background-color: #bbbbbb;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}

.editorModule.widgets .widget-preview img {
  max-width: 100%;
  max-height: 100%;
  height: 70px;
  object-fit: contain;
}

.editorModule.widgets .add-to-room-grid {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 24px;
  width: 24px;
  padding: 0;
  z-index: 2;
}

.segmented-control {
  display: flex;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff5 #0005 #0005 #fff5;
}

.segmented-control button{
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 0;
  border-left: 1px solid #fff5;
  border-right: 1px solid #0005;
  flex-basis: 33px;
  min-width: 33px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 34px;
}

.segmented-control button::before {
  margin: 0;
}

.segmented-control.sort-control button{
  max-height: 32px;
}

.collapsed .sort-control {
  display: none;
}

.segmented-control.sort-control .sort-label {
  padding-top: 2px;
  margin-bottom: -2px;
}



.segmented-control button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: none;
}

.segmented-control button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}

.editing-widgets .widget-list li .preview-widget-label {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #ccc;
  margin-right: 5px;
  border-top: 1px solid #ccc;
}

.widget-group {
  margin-bottom: 10px;
}

.widget-group-header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #eee;
  cursor: pointer;
}

.widget-group-header .drag-handle {
  width: 10px;
  height: 20px;
  margin-right: 5px;
  cursor: move;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='20' viewBox='0 0 10 20'%3E%3Cpath d='M1,3 H9 M1,7 H9 M1,11 H9 M1,15 H9' stroke='%23888' stroke-width='2'/%3E%3C/svg%3E");
}

.widget-group-header .collapse-arrow {
  margin-right: 5px;
}

.widget-group-header .group-name-input {
  flex-grow: 1;
  border: none;
  background: none;
}

.new-group-drop-target {
  height: 30px;
  border: 2px dashed #ccc;
  margin-top: 10px;
}

.drag-over {
  background-color: #f0f0f0;
}
