:root {
  --editSidebarWidth: 128px;
}

#editorSidebar {
  background: var(--VTTblue);
  position: absolute;
  width: var(--editSidebarWidth);
  right: 0;
  top: var(--editToolbarHeight);
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

#editorSidebar button span {
  display: none;
  position: absolute;
  right: calc(var(--editSidebarWidth) + 2px);
  background: var(--VTTblueDark);
  margin: 0;
  margin-top: -5px;
  padding: 10px;
  border-radius: 5px;
  text-transform: none;
}

#editorSidebar button:hover span {
  display: block;
}

#editorSidebar button.active {
  background: white;
  color: var(--VTTblue);
  position: relative;
  left: -2px;
  border-radius: 0 5px 5px 0;
}

#editorSidebar button.active::before {
  position: relative;
  left: 2px;
}

#editorSidebar button.active span {
  color: white;
  right: var(--editSidebarWidth);
}

#editorModule {
  display: none;
  position: absolute;
  right: var(--editSidebarWidth);
  top: var(--editToolbarHeight);
  bottom: 0;
  width: 300px;
  min-width: 300px;
  width: 25vw;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  background: white;
}

#editorModule.active {
  display: block;
}

@media (max-width: 1300px) {
  :root {
    --editSidebarWidth: 36px;
  }
  #editorSidebar button {
    font-size: 0;
    padding: 5px;
  }
  #editorSidebar button::before {
    margin: 0;
  }
  #editorSidebar button span {
    font-size: 13px;
  }
}

@media (orientation: portrait) and (min-width: 700px) {
  body.edit {
    --editSidebarWidth: 36px;
    --roomTop: calc(100vh - 1000px * var(--scale));
  }
  #editorModule {
    left: 0;
    top: var(--editToolbarHeight);
    right: var(--editSidebarWidth);
    bottom: calc(1000px * var(--scale));
    width: unset;
    height: unset;
  }
}

@media (max-width: 700px) {
  body.edit {
    --editSidebarWidth: 36px;
  }
  #editorModule {
    left: 0;
    top: var(--editToolbarHeight);
    right: var(--editSidebarWidth);
    bottom: 0;
    width: unset;
    height: unset;
  }
}
