:root {
  --editSidebarWidth: 128px;
}

#editorSidebar {
  position: absolute;
  width: calc(var(--modulesWidth));
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.sidebarButtons {
  background: var(--VTTblue);
}

.sidebarButtons button span {
  display: none;
  position: absolute;
  right: calc(var(--sidebarButtonsWidth) + 1px);
  background: var(--VTTblueDark);
  top: 40px;
  margin: 0;
  padding: 9px;
  border-radius: 5px;
  text-transform: none;
  width: 200px;
}

.sidebarButtons button {
  display: inline-flex;
}

.sidebarButtons button:hover span {
  display: block;
}

.sidebarButtons button.active {
  position: relative;
  bottom: -2px;
  border-radius: 5px 5px 0 0;
  background: var(--backgroundColor);
  color: var(--VTTblue);
}
body.edit.darkMode .sidebarButtons button.active {
  color: var(--textColor);
}

.sidebarButtons button.active::before {
  position: relative;
  left: 2px;
}

.sidebarButtons button.active span {
  color: white;
  right: calc(var(--editSidebarWidth) - 2px);
}

.editorModule {
  position: relative;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  background: var(--backgroundColor);
  overflow: auto;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.editorModule ::-webkit-scrollbar-track {
  background: var(--backgroundColor);
}

#editorEditSidebar {
  top: 0;
}

#editorAuxiliarySidebar {
  bottom: 0;
}

#editorEditModule {
  flex-grow: 1;
}

#editorAuxiliaryModule {
  height: 33%;
  flex-shrink: 0;
  border-top: 2px solid var(--VTTblue);
}

#editorAuxiliaryModule:not(.active) {
  display: none;
}

#editorModulesResizer {
  position: absolute;
  height: 100%;
  width: 5px;
  cursor: ew-resize;
  z-index: 5;
}
body.editorModulesResizing {
  cursor: ew-resize !important;
  height: 100vh;
}

#editorModules.active {
  display: grid;
}

.editorModule .widget {
  position: unset;
}

body.draggingEditorSidebarModule #editorModules {
  display: grid;
  grid-template-areas:
    "topleft topright"
    "bottomleft bottomright" !important;
}

body.draggingEditorSidebarModule #editorModuleOverlay {
  display: flex !important;
}

body.draggingEditorSidebarModule .editorModule {
  display: block;
  border: 2px red dashed;
}

body.draggingEditorSidebarModule .editorModule.dragHighlight {
  border: 2px red solid;
}

.active.editorModule {
  display: block;
}

body.lightsOff #editorModules {
  background: #08090a;
  color: #f8f8f2;
}

/* iconify sidebar icons */
@media (max-width: 1600px) {
  :root {
    --editSidebarWidth: 36px;
  }
  #editorSidebar button {
    font-size: 0;
    padding: 5px;
  }
  #editorSidebar button::before {
    margin: 0;
  }
  #editorSidebar button span {
    font-size: 13px;
  }
}

/* module above the room */
@media (orientation: portrait) and (min-width: 1000px), (max-aspect-ratio: 16/20) {
  body.edit {
    --editSidebarWidth: 36px;
    --roomTop: calc(100 * var(--vh) - 1000px * var(--scale) / var(--roomZoom) + (1 - var(--roomZoom)) / 2 * 1000px * var(--scale) / var(--roomZoom));
  }
  #editorModules {
    left: 0;
    top: var(--editToolbarHeight);
    right: var(--editSidebarWidth);
    bottom: calc(1000px * var(--scale) / var(--roomZoom));
    width: unset !important;
    min-width: unset !important;
    max-width: unset !important;
    height: unset;
  }
  #editorModulesResizer {
    display: none;
  }
}

/* module as fullscreen overlay */
@media (max-width: 1000px) and (min-aspect-ratio: 16/20) {
  body.edit {
    --editSidebarWidth: 36px;
  }
  #editorModules {
    left: 0;
    top: var(--editToolbarHeight);
    right: var(--editSidebarWidth);
    bottom: 0;
    width: unset !important;
    min-width: unset !important;
    max-width: unset !important;
    height: unset;
  }
  #editorModulesResizer {
    display: none;
  }
}
