:root {
  --scale: 1;
}

body {
  background: #484848;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#toolbar {
  background: #52bbae;
  height: 44px;
  width: 100%;
  position: fixed;
}

.toolbarButton {
  margin: 3px;
  padding: 0;
  border: 0;
  background: none;
  font-size: 36px;
}

#edit {
  display: none;
  position: fixed;
  background: #ccc;
  margin: 25vh 25vw;
  width: 50%;
  height: 50%;
  padding: 5px;
}

textarea {
  width: calc(100% - 4px);
  height: calc(100% - 30px);
}

#room {
  transform: scale(var(--scale));
  transform-origin: left top;
  position: fixed;
}

.surface {
  position: relative;
  width: 1600px;
  height: 1000px;
  background: #f0f0f0;
  touch-action: none;
  overflow: hidden;
}

.widget {
  position: absolute;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center center;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
}
