:root {
  --scale: 1;
  --roomWidth: 1600px;
  --roomHeight: 1000px;
  --toolbarSize: 44px;
}

body {
  background: #484848;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: ubuntu, sans;
}

#toolbar {
  background: #52bbae;
  height: var(--toolbarSize);
  width: 100%;
  position: fixed;

  top: calc((100vh - var(--roomHeight) * var(--scale)) / 2 + var(--roomHeight) * var(--scale) - var(--toolbarSize) / 2 - 1px);
  left: 0;
  width: 100%;
  height: var(--toolbarSize);
}

#roomArea {
  position: fixed;
  overflow: hidden;
  width: calc(var(--roomWidth) * var(--scale));
  height: calc(var(--roomHeight) * var(--scale));

  top: calc((100vh - var(--roomHeight) * var(--scale)) / 2 - var(--toolbarSize) / 2);
  left: 0;
}

@media (min-aspect-ratio: 1600/1000) {
  #toolbar {
    top: 0;
    left: calc((100vw - var(--roomWidth) * var(--scale)) / 2 - var(--toolbarSize) / 2 + 1px);
    width: var(--toolbarSize);
    height: 100%;
  }

  #roomArea {
    top: 0;
    left: calc((100vw - var(--roomWidth) * var(--scale)) / 2 + var(--toolbarSize) / 2);
  }
}

.toolbarButton {
  margin: 3px;
  padding: 0;
  border: 0;
  background: none;
  font-size: calc(var(--toolbarSize) - 8px);
}

.overlay {
  color: white;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 5% 10%;
  box-sizing: border-box;
}

.overlay h1 {
  text-align: center;
}

.myPlayerEntry .playerName {
  font-weight: bold;
}
.teamColor {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
}
.playerName {
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  background: none;
  font-size: 16px;
}

#editOverlay textarea {
  height: 100%;
}

#room {
  transform: scale(var(--scale));
  transform-origin: left top;
}

#roomArea.hasOverlay #room {
  filter: blur(5px);
}

.surface {
  position: relative;
  width: var(--roomWidth);
  height: var(--roomHeight);
  background: #f0f0f0;
  touch-action: none;
  overflow: hidden;
}

.widget {
  position: absolute;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center center;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
}
