#addOverlay {
  width: var(--roomWidth);
  height: var(--roomHeight);
  transform: scale(var(--scale));
  transform-origin: left top;
  flex-direction: row;
  padding: 0;
}

#addOverlay > .category {
  background: var(--roomColor);
  width: 100%;
  border-radius: 32px;
  margin: 20px;
  text-align: center;
}

#addOverlay > .category > h2 {
  color: black;
}

#addOverlay > .category > button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
#uploadBoard::before, #uploadToken::before{
  content:'[upload]';
}
#addBasicWidget::before{
  content:'[widget_add]';
}
#addCanvas::before{
  content:'[color]';
}
#addSeat::before{
  content:'[chair]';
}
#addHand::before{
  content:'[holder_hand]';
}
#addOverlay .widget, #addOverlay textarea {
  cursor: pointer;
}

#editJSONoverlay {
  padding: 10px;
}

#editJSONoverlay h1 {
  margin: 0;
}

#editJSONoverlay textarea {
  height: 100%;
}

@media only screen and (max-width: 500px) {
  #editJSONoverlay textarea {
    min-height: 100%;
  }
}

#editOverlay {
  overflow: auto;
  color: black;
  background-color:white;
  padding: 1% 10%;
  left: 5%;
  top: 5%;
  border-radius: 5vh;
  height: 90%;
  width: 90%;
}

.editOverlayButtonBar{
  display: flex;
}

#editOverlay::-webkit-scrollbar-track {
  margin: 5vh;
}

#editOverlay input[type=range]{
  width:40%;
}

.editorButtonsTop{
  display: grid !important;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  padding: 2px 0px;
}

.editorSpace{
  display: block !important;
  min-height: 10px;
  flex-grow: 1000;
}

.editorButtonsContainer{
  display: flex !important;
  border-top: 2px solid var(--VTTblueLight);
  flex-direction: column;
}

.editorButton{
  color:white;
  background-color: var(--VTTblue);
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.editorButton:hover{
  background-color: var(--VTTblueDark);
}

body.edit .surface {
  background-size: 30px 30px;

  background-image:
    repeating-linear-gradient(        #e0e0e0, #e0e0e0 1px, transparent 2px, transparent 30px),
    repeating-linear-gradient(-90deg, #e0e0e0, #e0e0e0 1px, transparent 2px, transparent 30px);
}

body.edit .widget {
  background-color: transparent !important;
  border: 3px solid var(--editColor);
  color: var(--editColor);
  box-sizing: border-box;
}

body.edit .widget > .widget {
  left: -3px;
  top: -3px;
}

#cardTypesList td {
  padding: 10px;
  vertical-align: top;
}

#cardTypesList label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

#cardTypesList .count {
  width: 40px;
  text-align: right;
}

.flexContainer {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.7em;
}
