#addOverlay {
  width: var(--roomWidth);
  height: var(--roomHeight);
  transform: scale(var(--scale));
  transform-origin: left top;
  flex-direction: row;
  padding: 0;
}

#addOverlay > .category {
  background: var(--roomColor);
  width: 100%;
  border-radius: 32px;
  margin: 20px;
  text-align: center;
}

#addOverlay > .category > h2 {
  color: black;
}

#addOverlay .widget, #addOverlay textarea {
  cursor: pointer;
}

#addCustomOverlay textarea, #editJSONoverlay textarea {
  height: 100%;
  min-height: 100%;
}

#editOverlay {
  overflow: auto;
}

body.edit .surface {
  background-size: 30px 30px;

  background-image:
    repeating-linear-gradient(        #e0e0e0, #e0e0e0 1px, transparent 2px, transparent 30px),
    repeating-linear-gradient(-90deg, #e0e0e0, #e0e0e0 1px, transparent 2px, transparent 30px);
}

body.edit .widget {
  background-color: transparent !important;
  border: 3px solid var(--editColor);
  color: var(--editColor);
  box-sizing: border-box;
}

body.edit .widget > .widget {
  left: -3px;
  top: -3px;
}

#cardTypesList td {
  padding: 10px;
  vertical-align: top;
}

#cardTypesList label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

#cardTypesList .count {
  width: 40px;
  text-align: right;
}
