@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/i/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('/i/fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-Black.woff2') format('woff2'),
        url('/i/fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('/i/fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-Medium.woff2') format('woff2'),
        url('/i/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-Italic.woff2') format('woff2'),
        url('/i/fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-Light.woff2') format('woff2'),
        url('/i/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('/i/fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-Thin.woff2') format('woff2'),
        url('/i/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('/i/fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/i/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/i/fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('/i/fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('Material-Icons.woff2') format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
  }

@font-face {
    font-family: 'Handwriting Casual';
    src: url('/i/fonts/BrandonCasualRegular.woff2') format('woff2'),
        url('/i/fonts/BrandonCasualRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handwriting';
    src: url('/i/fonts/BrandonHandRegular.woff2') format('woff2'),
        url('/i/fonts/BrandonHandRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handwriting';
    src: url('/i/fonts/BrandonHandBold.woff2') format('woff2'),
        url('/i/fonts/BrandonHandBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handwriting';
    src: url('/i/fonts/BrandonHandItalic.woff2') format('woff2'),
        url('/i/fonts/BrandonHandItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Handwriting';
    src: url('/i/fonts/BrandonHandBoldItalic.woff2') format('woff2'),
        url('/i/fonts/BrandonHandBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
