
@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/VTT-Roboto-Regular.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/VTT-Roboto-Regular.woff?this=9290850986927') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/VTT-Roboto-Bold.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/VTT-Roboto-Bold.woff?this=9290850986927') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/VTT-Roboto-Italic.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/VTT-Roboto-Italic.woff?this=9290850986927') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/VTT-Roboto-BoldItalic.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/VTT-Roboto-BoldItalic.woff?this=9290850986927') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/Roboto-LightItalic.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/Roboto-LightItalic.woff?this=9290850986927') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/Roboto-Black.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/Roboto-Black.woff?this=9290850986927') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/Roboto-Medium.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/Roboto-Medium.woff?this=9290850986927') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/Roboto-Light.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/Roboto-Light.woff?this=9290850986927') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/Roboto-BlackItalic.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/Roboto-BlackItalic.woff?this=9290850986927') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/Roboto-Thin.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/Roboto-Thin.woff?this=9290850986927') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/Roboto-MediumItalic.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/Roboto-MediumItalic.woff?this=9290850986927') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'VTT-Roboto';
    src: url('/i/fonts/Roboto-ThinItalic.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/Roboto-ThinItalic.woff?this=9290850986927') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/i/fonts/Material-Icons.woff2?this=9290850986927') format('woff2');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
}

@font-face {
font-family: 'VTT-Symbols';
src:
    url('/i/fonts/VTT-Symbols.woff?this=9290850986927') format('woff');
font-weight: normal;
font-style: normal;
font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'VTT-Symbols' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Handwriting Casual';
    src: url('/i/fonts/BrandonCasualRegular.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/BrandonCasualRegular.woff?this=9290850986927') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handwriting';
    src: url('/i/fonts/BrandonHandRegular.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/BrandonHandRegular.woff?this=9290850986927') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handwriting';
    src: url('/i/fonts/BrandonHandBold.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/BrandonHandBold.woff?this=9290850986927') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handwriting';
    src: url('/i/fonts/BrandonHandItalic.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/BrandonHandItalic.woff?this=9290850986927') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Handwriting';
    src: url('/i/fonts/BrandonHandBoldItalic.woff2?this=9290850986927') format('woff2'),
        url('/i/fonts/BrandonHandBoldItalic.woff?this=9290850986927') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
