#jsonEditor {
  --commandPaneWidth: 320px;
  --editorPaneWidth: 600px; /* the sum of these two has to be changed in main.js => setScale => jeEnabled branch */
  white-space: pre-line;
  font-family: monospace;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
}

#jsonEditor > *, .jsonEdit, #jeWidgetLayers > div, #jeLog {
  background: #08090a;
}
#jsonEditor > * {
  color: #f8f8f2;
  padding: 5px;
  margin: 0;
  position: fixed;
  border: none;
  resize: none;
  box-sizing: border-box;
}

#jeText, #jeTextHighlight {
  white-space: pre-wrap;
  overflow-y: auto;
  height: 100%;
  width: var(--editorPaneWidth);
  right: var(--commandPaneWidth);
  overflow-wrap: break-word;
}

#jeText {
  background: none;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  outline: none;
}
#jeText::selection {
  background-color: #808080;
  -webkit-text-fill-color: white;
}

#var_results > table {
  table-layout: fixed;
}

#var_results > table > tbody > tr > td:nth-child(1) {
  min-width: 60px;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#jsonEditor i {
  font-style: normal;
}

i.key     { color: yellow;  }
i.custom  { color: orange;  }
i.extern  { color: red;     }
i.string  { color: #7ed07e; }
i.number  { color: #dda0dd; }
i.null    { color: blue;    }
i.default { color: #606060; }
i.variable{ color: #40e0d0; }
i.error   { color: red; font-weight: bold; }

#jeCommands {
  white-space: pre-wrap;
  height: 100%;
  width: var(--commandPaneWidth);
  right: 0;
  overflow: auto;
}

#jeWidgetLayers {
  height: 10%;
  width: calc(100% - var(--commandPaneWidth) - var(--editorPaneWidth));
  white-space: pre;
  overflow: hidden;
  background: transparent;
}

#jeWidgetLayers > div {
  display: inline-block;
  width: 125px;
  margin-bottom: 10px;
  padding: 4px;
  overflow: hidden;
}

#jeWidgetLayers > div:empty {
  display: none;
}

body.jsonEdit #jsonEditor {
  display: block;
}

body.jsonEdit #jeCommands > .jeTopButton {
  display: inline-block;
  text-align: center;
}

body.jsonEdit #jeCommands > .jeTopButton > button {
  width: 28px;
  height: 24px;
  border: 0;
  display: block;
}

body.jsonEdit #jeCommands > .jeTopButton > span.top {
  display: inline-block;
  color: #aaa;
  font-size: x-small;
  margin-bottom: 10px;
}

body.jsonEdit #toolbar {
  display: none;
}

body.jsonEdit #roomArea {
  top: calc((100vh - var(--roomHeight) * var(--scale)) / 2);
  left: 0;
}

body.jsonEdit.jeZoomOut #roomArea {
  top: calc((100vh - var(--roomHeight) * var(--scale)) / 2);
  left: 12.5%;
  overflow: visible;
}

body.jsonEdit.jeZoomOut #topSurface {
  overflow: visible;
}

#jeLogWrapper {
  position: fixed;
  bottom: 0;
  white-space: normal;
}

#jeLog {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  height: 90vh;
  width: 50vw;
  overflow: auto;
  box-sizing: border-box;
}

#jeLogWrapper:hover #jeLog {
  display: block;
}

#jeLogWrapper:hover > h1, .jeLogNested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow */
.jeLogNested.active {
  display: block;
}

.jeLog {
  white-space: normal;
  font-size: 12px;
  background: #ffffff10;
  margin-left: 20px;
}

.jeLogSkipped {
  color: grey;
}

.jeLogSummary {
  color: lightgreen;
}

.jeLogResult {
  color: orange;
}

/* Create the caret/arrow with a unicode, and style it */
.jeExpander::before {
  content: "\25B6";
  color: white;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.jeExpander-down::before {
  transform: rotate(90deg);
}

.jeLogHasProblems, .jeLogProblems {
  color: red;
}

.jeLogProblems {
  display: none;
}

.jeLogHasProblems .jeLogProblems {
  display: block;
}

.jeLogDetails {
  word-break: break-all;
  margin-left: 20px;
  color: lightgray;
}

/* Show the details when the user clicks on the caret/arrow */
.jeLogDetails.active {
  display: block;
}
.jeLogOperation {
  margin-left: 20px;
  word-break: break-all;
}

.jeLogOriginal, .jeLogApplied, .jeLogVariables, .jeLogCollections, .jeLogProblems {
  margin-left:20px;
  white-space: pre;
}
