.widget.keyboardHighlight.ArrowUp {
  --highlightColor: red;
}

.widget.keyboardHighlight.ArrowRight {
  --highlightColor: yellow;
}

.widget.keyboardHighlight.ArrowDown {
  --highlightColor: blue;
}

.widget.keyboardHighlight.ArrowLeft {
  --highlightColor: green;
}

.widget.keyboardHighlight.Enter {
  --highlightColor: purple;
}

.widget:not(.pile).keyboardHighlight, .widget.pile.keyboardHighlight > .handle {
  box-shadow: 0px 0px 0px 5px var(--highlightColor);
}

body.keyboardMode #buttonInputGo {
  background: yellow;
  color: black;
}
body.keyboardMode #buttonInputCancel {
  background: green;
}
