:root {
  --scale: 1;
  --roomWidth: 1600px;
  --roomHeight: 1000px;
  --toolbarSize: 44px;
  --roomColor: #f0f0f0;
  --editColor: #7ba5f5;
  --VTTblue: #1f5ca6;
  --VTTblueDark:  #0d2f5e;
  --VTTblueLight: #a9c6e8;
  --wcFont: #ffffff;
  --wcMain: var(--VTTblue);
  --wcBorder: var(--VTTblueDark);
  --wcHighlight: var(--VTTblueLight);
  --wcMainOH: var(--VTTblueDark);
  --wcBorderOH: var(--VTTblue);
  --wcFontOH: var(--wcFont);
}

body {
  background: #484848;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

button {
  border:5px;
  color:white;
  background-color: var(--VTTblue);
  padding: 5px;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin:1px;
}

button:hover {
  background-color: var(--VTTblueDark);
}

#toolbar {
  background: var(--VTTblue);
  height: var(--toolbarSize);
  width: 100%;
  position: fixed;

  top: calc((calc(var(--vh, 1vh) * 100) - var(--roomHeight) * var(--scale)) / 2 + var(--roomHeight) * var(--scale) - var(--toolbarSize) / 2 - 1px);

  left: 0;
  width: 100%;
  height: var(--toolbarSize);
  z-index: 2;

  display: flex;
  align-content: center;
  gap:2px;
  padding: 2px;
  box-sizing: border-box;
}

#roomArea {
  position: fixed;
  overflow: hidden;
  width: calc(var(--roomWidth) * var(--scale));
  height: calc(var(--roomHeight) * var(--scale));

  top: calc((calc(var(--vh, 1vh) * 100) - var(--roomHeight) * var(--scale)) / 2 - var(--toolbarSize) / 2);

  left: 0;
  z-index: 1;
}

#toolbar .divider{
  border-left: 1px solid #ffffff44;
  height: calc(var(--toolbarSize) - 14px);
  max-width: 0px;
  font-size: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 7px 3px;
}

#toolbar .spacer{
  background: none;
  font-size: 0px;
  flex-grow: 1;
}
.toolbarButton {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  width: auto;
  height: calc(var(--toolbarSize) - 4px);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background: none;
  font-size: calc(var(--toolbarSize) - 12px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
  
}



.toolbarButton::before {
  position: absolute;
  top:0;
  left: 0;
  width: calc(var(--toolbarSize) - 4px);
  height: calc(var(--toolbarSize) - 4px);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: calc(var(--toolbarSize) - 4px);
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.toolbarButton:hover {
  background-color: rgba(0,0,0,0.1);
}
.toolbarButton:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.toolbarButton .tooltip {
  font-family: 'Roboto';
  display: inline-block;
  position: relative;
  padding: 2px 8px 2px 2px;
  margin-left: calc(var(--toolbarSize) - 4px);
  font-size: 14px;
  line-height: calc(var(--toolbarSize) - 4px);
  color: white;
  border-radius: 4px;
  width: auto;
  height: calc(var(--toolbarSize) - 4px);
  white-space: nowrap;
  pointer-events: none;
  font-weight: 500;
}
.toolbarButton:hover .tooltip {
  display: block;
}



@media (min-aspect-ratio: 1600/1000) {
  .toolbarButton {
    width: calc(var(--toolbarSize) - 4px);
  }
  #toolbar {
    top: 0;
    left: calc((100vw - var(--roomWidth) * var(--scale)) / 2 - var(--toolbarSize) / 2 + 1px);
    width: var(--toolbarSize);
    height: 100%;
    flex-direction: column;
  }
  #toolbar .divider{
    border-top: 1px solid #ffffff44;
    height: 0px;
    max-height: 0px;
    font-size: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 3px 5px;
    max-width: 75px;
  }
  .toolbarButton .tooltip {
    display: none;
    position: absolute;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background:var(--VTTblue);
    border-radius: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 0 5px #00000055;
    white-space: nowrap;
    top: 10px;
    right: unset;
    left: 4px;
    line-height: 14px;
    min-height: 16px;
  }

  
  
  #roomArea {
    top: 0;
    left: calc((100vw - var(--roomWidth) * var(--scale)) / 2 + var(--toolbarSize) / 2);
  }
}

@media only screen and (max-width: 900px) {
  .toolbarButton .tooltip {
    display: none;
    position: absolute;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background:var(--VTTblue);
    border-radius: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 0 5px #00000055;
    white-space: nowrap;
    bottom: calc(var(--toolbarSize) + 4px);
    right: unset;
    left: 4px;
    line-height: 14px;
    min-height: 16px;
    left: 0;
    margin: 0;
  }
  #aboutButton > .tooltip{
    left: unset;
    right: 0;
  }
  .toolbarButton {
    width: calc(var(--toolbarSize) - 4px);
  }
}


body.aspectTooGood #toolbar {
  top: calc((100vh - var(--scale) * var(--roomHeight)) / 2);
  left: calc((100vw - var(--roomWidth) * var(--scale)) / 2 - var(--toolbarSize) / 2 + 1px);
  width: var(--toolbarSize);
  height: calc(var(--scale) * var(--roomHeight));
  flex-direction: column;
}

body.aspectTooGood .toolbarButton .tooltip {
  display: none;
    position: absolute;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background:var(--VTTblue);
    border-radius: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 0 5px #00000055;
    white-space: nowrap;
    top: 10px;
    right: unset;
    left: 4px;
    line-height: 14px;
    min-height: 16px;
}

body.aspectTooGood .toolbarButton:hover .tooltip {
  display: block;
}


body.aspectTooGood #toolbar .divider{
  border-top: 1px solid #ffffff44;
  height: 0px;
  max-height: 0px;
  font-size: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 3px 5px;
  max-width: 75px;
}

body.aspectTooGood #roomArea {
  top: calc((100vh - var(--scale) * var(--roomHeight)) / 2);
  left: var(--toolbarSize);
}

body #hideToolbarButton, body.aspectTooGood.hiddenToolbar #toolbar {
  display: none;
}

body.aspectTooGood.hiddenToolbar #roomArea {
  left: calc((100vw - var(--scale) * var(--roomWidth)) / 2);
}

body.aspectTooGood #hideToolbarButton {
  display: inline-flex;
}

.overlay {
  color: white;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  flex-direction: column;
  padding: 5% 10%;
  box-sizing: border-box;
  overflow:auto

}

.overlay h1 {
  text-align: center;
}

.overlay a {
  color: white;
  font-weight: bold;
}

.overlay tr:nth-child(even) {
  background: #00000022;
}

#debugButtonOverlay pre {
  overflow: auto;
}

#room {
  transform: scale(var(--scale));
  transform-origin: left top;
}

#roomArea.hasOverlay #room {
  filter: blur(5px);
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--VTTblue);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--VTTblueDark);
}

.surface {
  position: relative;
  width: var(--roomWidth);
  height: var(--roomHeight);
  background: var(--roomColor);
  touch-action: none;
  overflow: hidden;
}

.widget {
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre-wrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
}
.widget.foreign {
  display: none !important;
}

#enlarged {
  opacity: 1;
  top: 5vh;
  left: 5vw;
  transition: opacity 200ms ease;
  transition-delay: 400ms, 400ms;
  transform-origin: top left;
  pointer-events: none;
}
#enlarged.right {
  left: unset;
  right: 5vw;
  transform-origin: top right;
}
#enlarged.hidden {
  opacity: 0;
  visibility: hidden;
}

/* #statesButton::before {
  content:'interests';
} */

#statesButton {
  background-size: 40px 40px;
  background-position: 0px 0px;
  background-image:url(/i/icons-white/game-library.svg);
}

#statesButton .tooltip{
  font-weight: 900;
}

#playersButton::before {
  content:'manage_accounts';
}

#editButton::before {
  content:'construction';
}

#addButton::before {
  content:'post_add';
}


html:not(:fullscreen) #fullscreenButton::before {
  content:'fullscreen';
}
html:fullscreen #fullscreenButton::before {
  content:'fullscreen_exit';
}

html:not(:fullscreen) #fullscreenButton .tooltip::before {
  content:'';
}
html:fullscreen #fullscreenButton .tooltip::before {
  content:'Exit ';
}


#hideToolbarButton {
  background-size: 28px 28px;
  background-image:url(/i/icons-white/hide-side-bar.svg);
}

#aboutButton {
  background-size: 28px 28px;
  background-position: 4px 6px;
  background-image:url(/i/icons-white/vttlogo.svg);
}

/*Buttons css*/

.prettyButton {
  border:5px;
  color:white;
  background-color: var(--VTTblue);
  padding: 5px;
  padding-left: 25px;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin:1px;
}
.prettyButton:hover{
  background-color: var(--VTTblueDark);
}

.gameMenu {
  background-position:  5px center !important;
  padding-left: 5px !important;
}

.upload, .uploadAsset {
  background-image:url(/i/icons-white/upload-solid-svg.svg);
  background-size: 20px 70%;
  background-position:  2.5px center;
}

.download {
  background-image:url(/i/icons-white/download-solid-svg.svg);
  background-size: 20px 70%;
  background-position:  2.5px center;
}

.link,.share {
  background-image:url(/i/icons-white/link-solid-svg.svg);
  background-size: 20px 60%;
  background-position:  2.5px center;
}

.edit {
  background-image:url(/i/icons-white/edit-regular-svg.svg);
  background-size: 20px 60%;
  background-position:  2.5px center;
}

.create {
  background-image:url(/i/icons-white/plus-solid-svg.svg);
  background-size: 20px 70%;
  background-position:  2.5px center;
}

.library {
  background-image:url(/i/icons-white/book-solid-svg.svg);
  background-size: 20px 70%;
  background-position:  2.5px center;
}

.save {
  background-image:url(/i/icons-white/save-regular-svg.svg);
  background-size: 20px 70%;
  background-position:  2.5px center;
}

.update {
  border:5px;
  color:white;
  background-color: var(--VTTblue);
  padding: 5px;
  padding-left: 25px;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin:1px;
  background-image:url(/i/icons-white/sync-alt-solid-svg.svg);
  background-size: 20px 70%;
  background-position:  2.5px center;
}
.update:hover {
  background-color: var(--VTTblueDark);
}

.remove {
  background-image:url(/i/icons-white/trash-alt-solid-svg.svg);
  background-size: 20px 70%;
  background-position:  2.5px center;
}

button.top {
  padding: 0px;
  margin: 0.5px;
  text-align: center;
}

button.add {
  padding: 1.7em 1em 5px 1em;
  text-align: center;
  background-image:url(/i/icons-white/plus-solid-svg.svg);
  background-size: 1em;
  background-position:  center 0.35em;
}

button:disabled {
  background: #808080;
  color: #d3d3d3;
}

.standard_font{
  font-family: 'Roboto';
}

.handwriting_font {
  font-family: 'Handwriting';
}

.handwriting_casual_font {
  font-family: 'Handwriting Casual';
}