:root {
  --scale: 1;
  --roomWidth: 1600px;
  --roomHeight: 1000px;
  --toolbarSize: 44px;
  --roomColor: #f0f0f0;
  --editColor: #7ba5f5;
  --VTTblue: #1f5ca6;
  --VTTblueDark:  #0d2f5e;
  --VTTblueLight: #a9c6e8;
  --wcFont: #ffffff;
  --wcMain: var(--VTTblue);
  --wcBorder: var(--VTTblueDark);
  --wcHighlight: var(--VTTblueLight);
  --wcMainOH: var(--VTTblueDark);
  --wcBorderOH: var(--VTTblue);
  --wcFontOH: var(--wcFont);
}

body {
  background: #484848;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

button {
  border:5px;
  color:white;
  background-color: var(--VTTblue);
  padding: 5px;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin:1px;
}

button:hover {
  background-color: var(--VTTblueDark);
}

#toolbar {
  background: var(--VTTblue);
  height: var(--toolbarSize);
  width: 100%;
  position: fixed;

  top: calc((calc(var(--vh, 1vh) * 100) - var(--roomHeight) * var(--scale)) / 2 + var(--roomHeight) * var(--scale) - var(--toolbarSize) / 2 - 1px);

  left: 0;
  width: 100%;
  height: var(--toolbarSize);
  z-index: 2;

  display: flex;
  align-content: center;
  gap:2px;
  padding: 2px;
  box-sizing: border-box;
}

#roomArea {
  position: fixed;
  overflow: hidden;
  width: calc(var(--roomWidth) * var(--scale));
  height: calc(var(--roomHeight) * var(--scale));

  top: calc((calc(var(--vh, 1vh) * 100) - var(--roomHeight) * var(--scale)) / 2 - var(--toolbarSize) / 2);

  left: 0;
  z-index: 1;
}

#toolbar .divider{
  border-left: 1px solid #ffffff44;
  height: calc(var(--toolbarSize) - 14px);
  max-width: 0px;
  font-size: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 7px 3px;
}

#toolbar .spacer{
  background: none;
  font-size: 0px;
  flex-grow: 1;
}
.toolbarButton {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  width: auto;
  height: calc(var(--toolbarSize) - 4px);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background: none;
  font-size: calc(var(--toolbarSize) - 12px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.toolbarButton::before {
  position: absolute;
  top:0;
  left: 0;
  width: calc(var(--toolbarSize) - 4px);
  height: calc(var(--toolbarSize) - 4px);
  font-size: calc(var(--toolbarSize) - 12px);
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VirtualTabletop-Symbols' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: calc(var(--toolbarSize) - 4px);

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbarButton:hover {
  background-color: rgba(0,0,0,0.1);
}
.toolbarButton:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.toolbarButton .tooltip {
  font-family: 'Roboto';
  display: inline-block;
  position: relative;
  padding: 2px 8px 2px 2px;
  margin-left: calc(var(--toolbarSize) - 4px);
  font-size: 14px;
  line-height: calc(var(--toolbarSize) - 4px);
  color: white;
  border-radius: 4px;
  width: auto;
  height: calc(var(--toolbarSize) - 4px);
  white-space: nowrap;
  pointer-events: none;
  font-weight: 500;
}
.toolbarButton:hover .tooltip {
  display: block;
}



@media (min-aspect-ratio: 1600/1000) {
  .toolbarButton {
    width: calc(var(--toolbarSize) - 4px);
  }
  #toolbar {
    top: 0;
    left: calc((100vw - var(--roomWidth) * var(--scale)) / 2 - var(--toolbarSize) / 2 + 1px);
    width: var(--toolbarSize);
    height: 100%;
    flex-direction: column;
  }
  #toolbar .divider{
    border-top: 1px solid #ffffff44;
    height: 0px;
    max-height: 0px;
    font-size: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 3px 5px;
    max-width: 75px;
  }
  .toolbarButton .tooltip {
    display: none;
    position: absolute;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background:var(--VTTblue);
    border-radius: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 0 5px #00000055;
    white-space: nowrap;
    top: 10px;
    right: unset;
    left: 4px;
    line-height: 14px;
    min-height: 16px;
  }



  #roomArea {
    top: 0;
    left: calc((100vw - var(--roomWidth) * var(--scale)) / 2 + var(--toolbarSize) / 2);
  }
}

@media only screen and (max-width: 900px) {
  .toolbarButton .tooltip {
    display: none;
    position: absolute;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background:var(--VTTblue);
    border-radius: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 0 5px #00000055;
    white-space: nowrap;
    bottom: calc(var(--toolbarSize) + 4px);
    right: unset;
    left: 4px;
    line-height: 14px;
    min-height: 16px;
    left: 0;
    margin: 0;
  }
  #aboutButton > .tooltip{
    left: unset;
    right: 0;
  }
  .toolbarButton {
    width: calc(var(--toolbarSize) - 4px);
  }
}


body.aspectTooGood #toolbar {
  top: calc((100vh - var(--scale) * var(--roomHeight)) / 2);
  left: calc((100vw - var(--roomWidth) * var(--scale)) / 2 - var(--toolbarSize) / 2 + 1px);
  width: var(--toolbarSize);
  height: calc(var(--scale) * var(--roomHeight));
  flex-direction: column;
}

body.aspectTooGood .toolbarButton .tooltip {
  display: none;
    position: absolute;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background:var(--VTTblue);
    border-radius: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 0 5px #00000055;
    white-space: nowrap;
    top: 10px;
    right: unset;
    left: 4px;
    line-height: 14px;
    min-height: 16px;
}

body.aspectTooGood .toolbarButton:hover .tooltip {
  display: block;
}


body.aspectTooGood #toolbar .divider{
  border-top: 1px solid #ffffff44;
  height: 0px;
  max-height: 0px;
  font-size: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 3px 5px;
  max-width: 75px;
}

body.aspectTooGood #roomArea {
  top: calc((100vh - var(--scale) * var(--roomHeight)) / 2);
  left: var(--toolbarSize);
}

body #hideToolbarButton, body.aspectTooGood.hiddenToolbar #toolbar {
  display: none;
}

body.aspectTooGood.hiddenToolbar #roomArea {
  left: calc((100vw - var(--scale) * var(--roomWidth)) / 2);
}

body.aspectTooGood #hideToolbarButton {
  display: inline-flex;
}

.overlay {
  color: white;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  flex-direction: column;
  padding: 5% 10%;
  box-sizing: border-box;
  overflow:auto

}

.overlay h1 {
  text-align: center;
}

.overlay a {
  color: white;
  font-weight: bold;
}

.overlay tr:nth-child(even) {
  background: #00000022;
}

#room {
  transform: scale(var(--scale));
  transform-origin: left top;
}

#roomArea.hasOverlay #room {
  filter: blur(5px);
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--VTTblue);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--VTTblueDark);
}

.surface {
  position: relative;
  width: var(--roomWidth);
  height: var(--roomHeight);
  background: var(--roomColor);
  touch-action: none;
  overflow: hidden;
}

.widget {
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre-wrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
}
.widget.foreign {
  display: none !important;
}

#enlarged {
  opacity: 1;
  top: 5vh;
  left: 5vw;
  transition: opacity 200ms ease;
  transition-delay: 400ms, 400ms;
  transform-origin: top left;
  pointer-events: none;
}
#enlarged.right {
  left: unset;
  right: 5vw;
  transform-origin: top right;
}
#enlarged.hidden {
  opacity: 0;
  visibility: hidden;
}

.editOverlayButtonBar{
  display: flex;
}

#statesButton::before {
  content:'[library]';
}
#statesButton .tooltip{
  font-weight: 900;
}
#playersButton::before {
  content:'[users_settings]';
}
#editButton::before {
  content:'[edit_mode]';
}
#addButton::before {
  content:'[widget_add]';
}
html:not(:fullscreen) #fullscreenButton::before {
  content:'[enter_fullscreen]';
}
html:fullscreen #fullscreenButton::before {
  content:'[exit_fullscreen]';
}
html:not(:fullscreen) #fullscreenButton .tooltip::before {
  content:'';
}
html:fullscreen #fullscreenButton .tooltip::before {
  content:'Exit ';
}
html:not(:-webkit-full-screen) #fullscreenButton::before {
  content:'[enter_fullscreen]';
}
html:-webkit-full-screen #fullscreenButton::before {
  content:'[exit_fullscreen]';
}
html:not(:-webkit-full-screen) #fullscreenButton .tooltip::before {
  content:'';
}
html:-webkit-full-screen #fullscreenButton .tooltip::before {
  content:'Exit ';
}
#hideToolbarButton::before {
  content:'[hide_side_bar]';
}
#aboutButton::before {
  content:'[vtt_logo]';
}

/*Buttons css*/

.prettyButton {
  border:5px;
  color:white;
  background-color: var(--VTTblue);
  padding: 5px 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin:1px;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 8px;
  font-family: 'Roboto', sans-serif;
}
.prettyButton::before, button.add::before, .prettyButton-icon {
  display: inline-block;
  top:0;
  left: 0;
  width: 18px;
  height: 18px;
  font-size: 18px;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VirtualTabletop-Symbols' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prettyButton:hover{
  background-color: var(--VTTblueDark);
}

.gameMenu {
  background-position:  5px center !important;
  padding-left: 5px !important;
}

.upload::before, .uploadAsset::before {
  content:'[upload]';
}

.download::before {
  content:'[download]';
}

.link::before,.share::before {
  content:'[link]';
}

button .edit::before {
  content:'[edit]';
}

.create::before {
  content:'[add]';
}

.library::before {
  content:'[book_open]';
}

.play::before {
  content:'[play_arrow]';
}

.save::before, .saveProgress::before {
  content:'[save]';
}

.update::before {
  content:'[save]';
}

.remove::before {
  content:'[close_square]';
}

button {
  font-family: 'Roboto', sans-serif;
}

button.top {
  padding: 0px;
  margin: 0.5px;
  text-align: center;
}

button.add {
  flex-direction: column;
}
button.add::before {
  content:'[add]';
  margin: -4px 0 0 0;
}
button:disabled {
  background: #808080;
  color: #d3d3d3;
}

.standard_font{
  font-family: 'Roboto';
}

.handwriting_font {
  font-family: 'Handwriting';
}

.handwriting_casual_font {
  font-family: 'Handwriting Casual';
}


.ui-button{
  background-color: var(--VTTblue);
  padding: 0 8px;
  border-radius: 4px;
  line-height: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
}

.ui-button::before {
  display: inline-block;
  width: auto;
  height: 36px;
  font-size: 30px;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VirtualTabletop-Symbols' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-button.red{
  background-color: #ff3b30;
}

.ui-button.green{
  background-color: #4cd964;
}

