.button {
  box-sizing: border-box;
  border-radius: 800px;
  background: #a9e9e2;
  color: #6d6d6d;
  border: 3px solid #93d0c9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button:hover {
  border: 3px solid #83c0b9;
}

