.button {
  box-sizing: border-box;
  border-radius: 800px;
  background: #a9e9e2;
  color: #6d6d6d;
  border: 4px solid #93d0c9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button:hover {
  border-color: #83c0b9;
}

