.widget.button {
  border-radius: 800px;
}

.widget.button > .widget-content {
  box-sizing: border-box;
  background-color: var(--wcMain);
  color: var(--wcFont);
  border-width: 4px;
  border-style: solid;
  border-color: var(--wcBorder);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  --wcBorderOH: var(--wcMain);
  --wcMainOH: var(--wcBorder);
  --wcFontOH: var(--wcFont);
  --wcImageOH: url();
}

.widget.button:hover > .widget-content {
  border-color: var(--wcBorderOH);
  background-color: var(--wcMainOH);
  background-image: var(--wcImageOH);
  color: var(--wcFontOH);
}
