body.edit .card {
  display: none;
}

.card > div {
  /* targets inactive faces */
  display: none;
}

.card > div.widget {
  /* child widgets of the card */
  display: block;
}

.card > div.active {
  /* active face */
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}

.card > div.active > div {
  /* active face objects */
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}
