.card {
  overflow: hidden;
}

body.edit .card {
  display: none;
}

.card > div {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}

.card > div.active {
  display: block;
}

.card > div > div {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}
