.classicPiece {
  --mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M38.84 30.94C41.71 32.37 44.44 32.73 46.66 32.62C49.4 32.5 51.95 31.7 54.14 30.37C54.28 30.29 54.42 30.21 54.56 30.13L62.81 65.86L72.96 78.7C73.65 79.57 74 80.61 74 81.81C74 83.01 73.65 84.05 72.96 84.92C72.27 85.8 71.45 86.23 70.5 86.23L63.26 86.23C62.97 86.74 62.67 87 62.33 87L29.67 87C29.33 87 29.03 86.74 28.74 86.23L21.5 86.23C20.55 86.23 19.73 85.8 19.04 84.92C18.35 84.05 18 83.01 18 81.81C18 80.61 18.35 79.57 19.04 78.7L29.19 65.86L37.44 30.13L37.91 30.4C38.05 30.49 38.2 30.57 38.35 30.66L38.84 30.94ZM48.94 32.32C50.51 31.98 51.84 31.67 54.14 30.37C58.6 27.68 61.56 22.84 61.56 17.32C61.56 8.85 54.6 2 46 2C37.4 2 30.44 8.85 30.44 17.32C30.44 22.86 33.43 27.72 37.91 30.4L38.35 30.66C40.61 31.91 43.22 32.63 46 32.63C46.22 32.63 46.44 32.63 46.66 32.62C47.5 32.57 48.26 32.46 48.94 32.32Z' /%3E%3C/svg%3E%0A");
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  background: var(--color);
}
body.edit .widget.classicPiece {
  border: none;
  background: var(--editColor) !important;
}
body.edit .widget.classicPiece::after {
  content: "";
  position: absolute;
  background: var(--color) !important;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 38px;
  top: 9px;
}

.checkersPiece, .checkersPiece::before, .checkersPiece::after {
  box-sizing: border-box;
  border-radius: 50%;
  background: var(--color);
}

.checkersPiece::before, .checkersPiece::after, .pinPiece::before, .pinPiece::after {
  content: "";
  background: rgba(255,255,255,.32);
  background-size: 50px 50px;
  background-position: -17px -14px;
  width: 79%;
  height: 79%;
  position: absolute;
  border-radius: 50%;
  top: 10.5%;
  left: 10.5%;
  box-sizing: border-box;
}

.checkersPiece::after {
  background: var(--color);
  width: 57%;
  height: 57%;
  top: 21.5%;
  left: 21.5%;
}

.checkersPiece.crowned::after {
  content: "♛";
  font-size: 40px;
  color: rgba(255,255,255,.32);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body.edit .widget.checkersPiece {
  border-width: 10px;
}
body.edit .widget.checkersPiece::before {
  display: none;
}
body.edit .widget.checkersPiece::after {
  width: 20%;
  height: 20%;
  top: 40%;
  left: 40%;
}

.pinPiece::before {
  border: 3px solid #3f3b38;
  background-color: var(--color);
  background-image: linear-gradient(90deg, rgba(255,255,255,.32), rgba(0,0,0,.16));
  background-position: -17px 14px;
  border-radius: 0;
  top: 9px;
  left: 15px;
  width: 14px;
  transform: rotate(-30deg);
}

.pinPiece::after {
  border: 3px solid #3f3b38;
  background-color: var(--color);
  background-image: radial-gradient(circle, rgba(255,255,255,.32), rgba(255,255,255,0) 30%, rgba(0,0,0,.16));
  width: 35.85px;
  height: 35.85px;
  left: 0;
  top: 0;
}

body.edit .widget.pinPiece {
  border: none;
}
body.edit .widget.pinPiece::before, body.edit .widget.pinPiece::after {
  border: 3px solid var(--editColor);
  background: none;
}
body.edit .widget.pinPiece::after {
  background-image: radial-gradient(circle, var(--color), var(--color) 20%, var(--roomColor) 30%);
}
