.classicPiece {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M38.84 30.94C41.71 32.37 44.44 32.73 46.66 32.62C49.4 32.5 51.95 31.7 54.14 30.37C54.28 30.29 54.42 30.21 54.56 30.13L62.81 65.86L72.96 78.7C73.65 79.57 74 80.61 74 81.81C74 83.01 73.65 84.05 72.96 84.92C72.27 85.8 71.45 86.23 70.5 86.23L63.26 86.23C62.97 86.74 62.67 87 62.33 87L29.67 87C29.33 87 29.03 86.74 28.74 86.23L21.5 86.23C20.55 86.23 19.73 85.8 19.04 84.92C18.35 84.05 18 83.01 18 81.81C18 80.61 18.35 79.57 19.04 78.7L29.19 65.86L37.44 30.13L37.91 30.4C38.05 30.49 38.2 30.57 38.35 30.66L38.84 30.94ZM48.94 32.32C50.51 31.98 51.84 31.67 54.14 30.37C58.6 27.68 61.56 22.84 61.56 17.32C61.56 8.85 54.6 2 46 2C37.4 2 30.44 8.85 30.44 17.32C30.44 22.86 33.43 27.72 37.91 30.4L38.35 30.66C40.61 31.91 43.22 32.63 46 32.63C46.22 32.63 46.44 32.63 46.66 32.62C47.5 32.57 48.26 32.46 48.94 32.32Z' /%3E%3C/svg%3E%0A");
  background: var(--color);
}
body.edit .widget.classicPiece {
  mask-image: none;
}

.checkersPiece {
  box-sizing: border-box;
  background: radial-gradient(circle, var(--color) 0%, var(--color) 33%, var(--color2) 33%, var(--color2) 46%, var(--color) 46%, var(--color) 58%, rgba(0, 0, 0, 0) 58%);
}
