.deck {
  display: none;
}

body.edit .deck {
  display: block;
  padding-top: 40px;
  text-align: center;

  width: 86px;
  height: 86px;
  border-radius: 100%;
  font-size: 200%;
}

body.edit .deck:before, body.edit .deck:after {
  position: absolute;
  width: 15px;
  height: 25px;
  border: 2px solid var(--editColor);
  top: 10px;
  left: 30px;
  content: "";
}

body.edit .deck:after {
  top: 15px;
  left: 35px;
}
