.widget.deck {
  border-radius: 50%;
}

.widget.deck > .widget-content {
  display: none;
}

body.edit .deck::before {
  padding-top: 34px;
  font-size: 24px;
}

body.edit .deck::after {
  font-family: 'VTT-Symbols';
  font-size: 32px;
  padding-bottom: 26px;

  content: 'deck';
}
