.dice.widget > .diceFaces {
  position: absolute;
  height: 100%;
  width: 100%;
}

.dice.widget > .diceFaces > .diceFace {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  font-size: calc(var(--size) * 0.95);

  justify-content: center;
  align-items: center;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.dice.widget > .diceFaces > .dicePip {
  font-family: VTT-Symbols;
}


.shaking.dice.widget > .diceFaces {
  box-sizing: border-box;

  background: var(--backgroundColor);
  color: var(--pipColor);
  border: 0.5px solid var(--pipColor);
  border-radius: inherit;

  transition: transform 0.5s;
}

.shaking.dice.widget > .diceFaces.animate {
  animation-name: shake;
  animation-duration: 0.5s;
  --shakeX: 1;
  --shakeY: 1;
  --shakeR: 1;
}
.shaking.dice.widget > .diceFaces.animate.animateBegin {
  animation: none;
  transform: translate3d(calc(var(--shakeX) * 2%), 0, 0) rotate(calc(var(--shakeR) * -5deg));
  transition: transform 50ms;
}
.shaking.dice.widget > .diceFaces.animate.shake1,
.shaking.dice.widget > .diceFaces.animate.shake3,
.shaking.dice.widget > .diceFaces.animate.shake5,
.shaking.dice.widget > .diceFaces.animate.shake7 {
  --shakeX: -1;
}
.shaking.dice.widget > .diceFaces.animate.shake2,
.shaking.dice.widget > .diceFaces.animate.shake3,
.shaking.dice.widget > .diceFaces.animate.shake6,
.shaking.dice.widget > .diceFaces.animate.shake7 {
  --shakeY: -1;
}
.shaking.dice.widget > .diceFaces.animate.shake4,
.shaking.dice.widget > .diceFaces.animate.shake5,
.shaking.dice.widget > .diceFaces.animate.shake6,
.shaking.dice.widget > .diceFaces.animate.shake7 {
  --shakeR: -1;
}

.shaking.dice.widget > .diceFaces > .diceFace {
  display: none;
}
.shaking.dice.widget > .diceFaces > .active.diceFace {
  display: flex;
}
.shaking.dice.widget > .diceFaces.animate > .diceFace {
  display: flex;
  --phase1: 0;
  --phase2: 0;
  --final: 0;
  opacity: var(--final);
  animation-name: faceChange;
  animation-duration: inherit;
}
.shaking.dice.widget > .diceFaces.animate.animateBegin > .diceFace {
  opacity: var(--phase1);
  animation: none;
}
.shaking.dice.widget > .diceFaces.animate > .diceFace.active {
  --final: 1;
}
.shaking.dice.widget > .diceFaces.animate > .diceFace.animate1active {
  --phase1: 1;
}
.shaking.dice.widget > .diceFaces.animate > .diceFace.animate2active {
  --phase2: 1;
}


.shaking.dice.widget > .diceFaces.animate1 {
  transform: rotate(20deg);
}
.shaking.dice.widget > .diceFaces.animate1 > .active.diceFace, .shaking.dice.widget > .diceFaces.animate2 > .active.diceFace {
  display: none;
}
.shaking.dice.widget > .diceFaces.animate1 > .animate1active.diceFace {
  display: flex;
}
.shaking.dice.widget > .diceFaces.animate2 {
  transform: rotate(-20deg);
}
.shaking.dice.widget > .diceFaces.animate2 > .animate2active.diceFace {
  display: flex;
}


.d2.dice.widget, .d6.dice.widget {
  perspective: 1600px;
}

.d2.dice.widget > .diceFaces, .d6.dice.widget > .diceFaces {
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--size) / -2)) rotateX(var(--rotX)) rotateY(var(--rotY)) rotateZ(0deg);
  transition: transform 0.5s;
}

.d2.dice.widget > .diceFaces > .diceFace {
  background-color: var(--backgroundColor);
  color: var(--pipColor);
  border: 0.5px solid var(--pipColor);
  border-radius: 100%;
}

.d2.dice.widget > .diceFaces > .diceFace.moreThanSix {
  display: none;
}

.d2.dice.widget > .diceFaces > .diceFace:nth-child(2n + 1) {
  transform: rotateY(  0deg) translateZ(1px);
}

.d2.dice.widget > .diceFaces > .diceFace:nth-child(2n) {
  transform: rotateY(180deg) translateZ(1px);
}

.d6.dice.widget > .diceFaces > .diceFace {
  background-color: var(--backgroundColor);
  color: var(--pipColor);
  border: 0.5px solid var(--pipColor);
}

.d6.dice.widget > .diceFaces > .diceFace.moreThanSix {
  display: none;
}

.d6.dice.widget > .diceFaces > .diceFace:nth-child(6n + 1) {
  transform: rotateY(  0deg) translateZ(calc(var(--size) / 2));
}

.d6.dice.widget > .diceFaces > .diceFace:nth-child(6n + 2) {
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}

.d6.dice.widget > .diceFaces > .diceFace:nth-child(6n + 3) {
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
}

.d6.dice.widget > .diceFaces > .diceFace:nth-child(6n + 4) {
  transform: rotateY( 90deg) translateZ(calc(var(--size) / 2));
}

.d6.dice.widget > .diceFaces > .diceFace:nth-child(6n + 5) {
  transform: rotateX( 90deg) translateZ(calc(var(--size) / 2));
}

.d6.dice.widget > .diceFaces > .diceFace:nth-child(6n) {
  transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
}

@keyframes shake {
  15% {
    transform: translate3d(
        calc(var(--shakeX) * 4%),
        calc(var(--shakeY) * 2%),
        0
      )
      rotate(calc(var(--shakeR) * -10deg));
  }
  30% {
    transform: translate3d(
        calc(var(--shakeX) * -8%),
        calc(var(--shakeY) * 4%),
        0
      )
      rotate(calc(var(--shakeR) * 15deg));
  }
  40% {
    transform: translate3d(
        calc(var(--shakeX) * 8%),
        calc(var(--shakeY) * -8%),
        0
      )
      rotate(calc(var(--shakeR) * -10deg));
  }
  50% {
    transform: translate3d(
        calc(var(--shakeX) * -4%),
        calc(var(--shakeY) * 8%),
        0
      )
      rotate(calc(var(--shakeR) * 5deg));
  }
  60% {
    transform: translate3d(
        calc(var(--shakeX) * 8%),
        calc(var(--shakeY) * -4%),
        0
      )
      rotate(calc(var(--shakeR) * 15deg));
  }
  70% {
    transform: translate3d(
        calc(var(--shakeX) * -4%),
        calc(var(--shakeY) * 8%),
        0
      )
      rotate(calc(var(--shakeR) * -20deg));
  }
  80% {
    transform: translate3d(
        calc(var(--shakeX) * -2%),
        calc(var(--shakeY) * -4%),
        0
      )
      rotate(calc(var(--shakeR) * 10deg));
  }
  90% {
    transform: translate3d(0, calc(var(--shakeY) * -2%), 0)
      rotate(calc(var(--shakeR) * 5deg));
  }
}
@keyframes faceChange {
  0% {
    opacity: var(--phase1);
  }
  24% {
    opacity: var(--phase1);
  }
  25% {
    opacity: var(--phase2);
  }
  59% {
    opacity: var(--phase2);
  }
  60% {
    opacity: var(--final);
  }
}
