.dice.widget > .diceFaces {
  box-sizing: border-box;

  background: var(--backgroundColor);
  color: var(--pipColor);
  border: 0.5px solid var(--pipColor);
  border-radius: inherit;

  height: 100%;
  width: 100%;
  transition: transform 0.5s;
}

.dice.widget > .diceFaces > .diceFace {
  display: none;
  position: absolute;
  top: 0;
  font-size: var(--fontSize);

  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.dice.widget > .diceFaces > .active.diceFace {
  display: flex;
}

.dice.widget > .diceFaces > .dicePip {
  font-family: VTT-Symbols;
}


.dice.widget > .diceFaces.animate1 {
  transform: rotate(20deg);
}
.dice.widget > .diceFaces.animate1 > .active.diceFace, .dice.widget > .diceFaces.animate2 > .active.diceFace {
  display: none;
}
.dice.widget > .diceFaces.animate1 > .diceFace:nth-child(1) {
  display: flex;
}
.dice.widget > .diceFaces.animate2 {
  transform: rotate(-20deg);
}
.dice.widget > .diceFaces.animate2 > .diceFace:nth-child(2) {
  display: flex;
}
