.holder {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #d8d8d8 #ccc #ccc #d8d8d8;
}

.holder > * {
  display: initial;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  font-size: initial;
  color: initial;
}

.holder.droppable.droptarget{
  border-color: #333!important;
}

.holder > .widget {
  left: -1px;
  top: -1px;
}

.holder.transparent {
  background: none;
  border-color: transparent;
}

.holder.transparent > .widget {
  left: 0;
  top: 0;
}

.holder.showCardBack > .card.widget {
  display: block;
}

.holder.showCardBack > .card.widget > .active.cardFace, .card.widget.showCardBack > .active.cardFace {
  display: none;
}

.holder.showCardBack > .card.widget > :not(.active).cardFace, .card.widget.showCardBack > :not(.active).cardFace {
  display: block;
}
