.holder {
  background: var(--bgColor, white);
  background: color-mix(in srgb, var(--bgColor, white) calc(var(--bgColorOpacity, 1) * 100%), transparent);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #d8d8d8 #ccc #ccc #d8d8d8;
}

.holder.droppable.droptarget{
  border-color: #333!important;
}

.holder > .widget {
  left: -1px;
  top: -1px;
}

.widget.holder > .holderTextOnly {
  position: absolute;
  inset: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--holderTextColor);
  font-weight: bold;
  overflow: hidden;
  word-break: normal;
  white-space: normal;
  line-height: 1.1;
  box-sizing: border-box;
}

.widget.holder.hasImage {
  background-image: none;
}

.widget.holder.hasImage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--bgImage);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: var(--bgImageOpacity, 0.2);
  border-radius: inherit;
  pointer-events: none;
}

.holder.transparent {
  background: none;
  border-color: transparent;
}

.holder.transparent > .widget {
  left: 0;
  top: 0;
}

.holder.showCardBack > .card.widget {
  display: block;
}

.holder.showCardBack > .card.widget > .active.cardFace, .card.widget.showCardBack > .active.cardFace {
  display: none;
}

.holder.showCardBack > .card.widget > :not(.active).cardFace, .card.widget.showCardBack > :not(.active).cardFace {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}
