.holder {
  background: var(--bgColor, white);
  background: color-mix(in srgb, var(--bgColor, white) calc(var(--bgColorOpacity, 1) * 100%), transparent);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #d8d8d8 #ccc #ccc #d8d8d8;
}

.holder.droppable.droptarget{
  border-color: #333!important;
}

.holder > .widget {
  left: -1px;
  top: -1px;
}

.holder.hasImage::before {
  background-image: var(--bgImage);
}

.holder.transparent {
  background: none;
  border-color: transparent;
}

.holder.transparent > .widget {
  left: 0;
  top: 0;
}

.holder.showCardBack > .card.widget {
  display: block;
}

.holder.showCardBack > .card.widget > .active.cardFace, .card.widget.showCardBack > .active.cardFace {
  display: none;
}

.holder.showCardBack > .card.widget > :not(.active).cardFace, .card.widget.showCardBack > :not(.active).cardFace {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}
