.label {
  font-size: 16px;
  color: #6d6d6d;
  text-align: center;
}

.label > textarea {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;
  text-align: inherit;
  font: inherit;
  width: 100%;
  min-height: 100%;
  resize: none;
}

.label > .labeldiv {
  overflow: auto;
}

body.edit .widget.label {
  border: none;
  box-sizing: content-box;
  box-shadow:0 0 0 3px var(--editColor);
}

body.edit .widget.label > * {
  left: 0;
  top: 0;
}
.label tr:nth-child(odd) {
  background-color: #dddddd;
}
red {
  color: red;
}
orange {
  color: orange;
}
yellow {
  color: yellow;
}
green {
  color: green;
}
blue {
  color: blue;
}
violet {
  color: violet;
}
white {
  color: white;
}
black {
  color: black;
}
grey {
  color: grey;
}
