.label {
  font-size: 16px;
  color: #6d6d6d;
  text-align: center;
}

.label > textarea {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;
  text-align: inherit;
  font: inherit;
  width: 100%;
  min-height: 100%;
  resize: none;
  height: inherit;
}

.label > .labeldiv {
  overflow: auto;
  width: 100%;
  min-height: 100%;
}

body.edit .widget.label {
  border: none;
  box-sizing: content-box;
  box-shadow:0 0 0 3px var(--editColor);
}

body.edit .widget.label > * {
  left: 0;
  top: 0;
}
