.pile.handle {
  cursor: default;
  position: absolute;
  left: -15px;
  top: -15px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #e4e4e4;
  color: #6d6d6d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999999;
}

.pile.handle.small {
  width: 20px;
  height: 20px;
  font-size: 10px;
}

.pile.handle.right {
  left: unset;
  right: -15px;
}

.pile.handle.bottom {
  top: unset;
  bottom: -15px;
}

body.edit .pile {
  display: none;
}
