.pile {
  --phPosition: -15px;
  --phSize: 40px;

  --phX: var(--phPosition);
  --phY: var(--phPosition);
  --phHeight: var(--phSize);
  --phWidth: var(--phSize);
  --FontSize: calc(var(--phSize)/2);

  will-change: transform;
}

.pile .handle {
  position: absolute;
  left: var(--phX);
  top: var(--phY);
  width: var(--phHeight);
  height: var(--phWidth);
  font-size: var(--FontSize);
  background: #e4e4e4;
  color: #6d6d6d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999999;
}

.pile .handle.small {
  width: calc(var(--phWidth)/2);
  height: calc(var(--phHeight)/2);
  font-size: calc(var(--phFontSize)/2);
}

.pile .handle.right {
  left: unset;
  right: var(--phX);
}

.pile .handle.center {
  left: 50%;
  transform: translateX(-50%);
}

.pile .handle.bottom {
  top: unset;
  bottom: var(--phY);
}

.pile .handle.middle {
  top: 50%;
  transform: translateY(-50%);
}

.pile .handle.center.middle {
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

body.edit .pile {
  display: none;
}
