.pile {
  will-change: transform;
}

.pile .handle {
  position: absolute;
  left: var(--phX);
  top: var(--phY);
  width: var(--phWidth);
  height: var(--phHeight);
  font-size: var(--phFontSize);
  background: var(--phBackground);
  color: var(--phColor);
  border: var(--phBorder);
  border-radius: var(--phBorderRadius);
  display: var(--phDisplay);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999999;
}

.pile .handle.small {
  width: calc(var(--phWidth)/2);
  height: calc(var(--phHeight)/2);
  font-size: calc(var(--phFontSize)/2);
}

.pile .handle.right {
  left: unset;
  right: var(--phX);
}

.pile .handle.bottom {
  top: unset;
  bottom: var(--phY);
}

body.edit .pile {
  display: none;
}
