.scoreboard {
    border: 2px solid black;
    box-sizing: border-box;
    background: #fff;
    border-width: 2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.scoreboard table {
    border-collapse: separate;
    border-spacing: 0;
    height: 100%;
    width: 100%;
}

.scoreboard tbody td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: #333;
  padding: 5px;
  text-align: right;
  white-space: nowrap;
  background-color: #f8f8f8;
}

.scoreboard.equalWidth td {
  white-space: normal;
  width: calc(100% / var(--columns));
}

.scoreboard tbody tr:nth-child(1) td:nth-child(1) {
  z-index: 2;
}

.scoreboard tbody tr:nth-child(1) td {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #ddd;
  word-break: break-all;
  text-align:center;
}

.scoreboard tbody tr td:nth-child(1) {
  position: sticky;
  z-index: 1;
  left: 0;
  background-color: #ddd;
  word-break: break-all;
  text-align: center;
  width: var(--firstColWidth);
}

.scoreboard .currentRound {
  background-color: #fdf5e6;
}

.scoreboard .totalsLine {
  background-color: #ddd;
  position: sticky;
  bottom: 0;
}

