.seat {
  background-color: white;
  font-size: 25px;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color);
  text-align: center;
  --shadow: none;
}

.seat.turn {
  box-shadow: var(--shadow);
}
