.widget.seat {
  border-radius: 5px;
}

.seat > .widget-content {
  background-color: #ffffff;

  font-size: 25px;
  color:#222222;
  font-weight:bold;

  border-width: 7px;
  border-style: solid;
  border-color: var(--color);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  --wcShadowTurn: 0px 0px 20px 5px var(--color);
}

.seat.seated.turn > .widget-content {
  box-shadow: var(--wcShadowTurn);
}
