.seat {
  background-color: var(--wcBackground);

  font-size: 25px;
  color:var(--wcFont);
  font-weight:bold;

  border-radius: 5px;
  border-width: 7px;
  border-style: solid;
  border-color: var(--wcBorder);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  --wcShadowTurn: 0px 0px 20px 5px var(--color);

  --wcBackground: #ffffff;
  --wcBackgroundOH: var(--wcBackground);
  --wcBorder: var(--color);
  --wcBorderOH: var(--wcBorder);
  --wcFont: #222222;
  --wcFontOH: var(--wcFont);
  --wcImage: url();
  --wcImageOH: var(--wcImage);
  --wcFilterOH: brightness(90%);
}

.seat.seated.turn {
  box-shadow: var(--wcShadowTurn);
}

body.edit .seat {
  border-width: 7px;
  box-sizing: unset;
}

body.edit .seat.seated.turn {
  box-shadow: unset;
}

.seat:hover {
  filter: var(--wcFilterOH);
  border-color: var(--wcBorderOH);
  background-color: var(--wcBackgroundOH);
  background-image: var(--wcImageOH);
  color: var(--wcFontOH);
}
