.spinner > svg.background {
  position: absolute;
  background: white;
  color: black;
  border: 1px solid #d2d2d2;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.spinner > div.spinningPart {
  position: absolute;
  background-image: url(./i/spinner/SpinnerVTTblue.svg);
  background-size: 70% 70%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 1.25s cubic-bezier(0.05, 0.28, 0.22, 1);
  width: 100%;
  height: 100%;
}

.spinner > div.value {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 44.8%;
  height: 44.8%;
  top: 27.6%;
  left: 27.6%;
  background: var(--wcMain);
  color: var(--wcFont);
  border-radius: 100%;
  transition: opacity 0.25s;
  opacity: 1;
}

.spinner > div.value.hidden {
  opacity: 0;
}

body.edit .spinner {
  border-radius: 100%;
}

body.edit .spinner > svg.background, body.edit .spinner > div.spinningPart {
  display: none;
}

body.edit .spinner > div.value {
  color: var(--editColor);
  background: transparent;
}
