.timer {
  font-size: 23px;
  font-family: monospace;
  text-align: right;
  color: #525252;
  padding-right:3px;
  --wcFontAlert: red;
  --wcFontPaused: #6d6d6d;
}


.timer.alert {
  color: var(--wcFontAlert);
}

.timer.paused {
  color: var(--wcFontPaused);
}
