#playerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#playerList > div{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.4em;
  padding: 0;
  line-height: 2em;
  font-size: 1em;
  margin: 0.25rem;
}

.playerName {
  border: none;
  padding: 0;
  margin: 0;
  color: var(--VTTblue);
  background: none;
  height: 2em;
  width: auto;
  line-height: 2em;
  font-weight: bold;
  flex-grow: 7;
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.teamColor {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
  border: 2px solid rgba(255, 255, 255, 0.25);
  flex-basis: 2em;
  flex-grow: 0;
  background-color: var(--playerColor);
  position: relative;
}

.teamColor::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(i/icons-white/user-solid-svg.svg);
    mask-image: url(i/icons-white/user-solid-svg.svg);
    -webkit-mask-size: 1em;
    mask-size: 1em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--contrastColor);
    pointer-events: none;
}

.teamColor::-webkit-color-swatch-wrapper {
  display: none;
}
.teamColor::-webkit-color-swatch {
  display: none;
}
.teamColor::-moz-color-swatch {
  display: none;
}

#playerList .myPlayerEntry input{
  font-size: 1.2rem;
}
#playerList label.me{
  order: 1;
}
#playerList .myPlayerEntry{
  order: 2;
  width: 100%;
  position: relative;
}
#playerList label.otherPlayers{
  order: 3;
}
#playerList .nothingtoshow{
  order: 4;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 2em;
  font-size: .8rem;
  border: 2px solid transparent;
}
#playerList .activePlayerEntry{
  order: 4;
}
#playerList label.inactivePlayers{
  order: 5;
  height: 1px;
  overflow: hidden;
  opacity: 0.25;
}
#playerList .inactivePlayerEntry{
  order: 6;
  opacity: 0.5;
}

label.ui-line{
  border-top: 1px solid rgb(31, 92, 166);
  width: 100%;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 1rem 0 0.75rem 0;
  padding: 0;
}
label.ui-line::before{
  background-color: rgb(31, 92, 166);
  color: white;
  display: inline-block;
  content: attr(data-label);
  padding: 0 0.5rem;
  border-radius: 0 0 0.5rem;
  font-weight: bold;
}

.overlay .heading{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;;
}
.overlay .heading h1{
  margin: 0 0.5em 0 0;
  padding: 0.25em 0.5em 0.25em 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 1em;
  text-align: left;
  max-width: 45%;
}
.overlay .heading .instructionalText{
  display: block;
  font-size: 16px;
  text-align: left;
  padding: 0.9rem 0;
}
#playerCursors {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  --cursorSize: 10;
  --cursorOpacity: 0;
  --cursorActiveOpacity: 0.3;
  --cursorPressedOpacity: 0.3;
  --cursorActiveDuration: 100; /* milliseconds */
}
.cursor {
  position: absolute;
  top: calc(var(--cursorSize) * -1px * var(--scale));
  left: calc(var(--cursorSize) * -1px * var(--scale));
  width: calc(var(--cursorSize) * 2px * var(--scale));
  height: calc(var(--cursorSize) * 2px * var(--scale));
  box-sizing: border-box;
  border: 4px solid var(--playerColor);
  border-radius: 100%;
  opacity: var(--cursorOpacity);
  transition-duration: 2s;
  pointer-events: none;
}
.cursor.active, .cursor.pressed.foreign {
  --cursorOpacity: var(--cursorActiveOpacity);
  transition: none;
}
.cursor.pressed {
  --cursorOpacity: var(--cursorPressedOpacity);
  border: 4px solid transparent;
  background-color: var(--playerColor);
}
.cursor.hidden {
  display: none;
}

#playerList .randomizeNameButton {
  background: transparent;
  position: absolute;
  left: -40px;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0 0.2em;
  margin: 0;
  line-height: 1;
  color: inherit;
  opacity: 0.6;
  transition: opacity 0.1s, transform 0.1s;
}

#playerList .randomizeNameButton:hover {
  opacity: 1;
  transform: scale(1.1);
}
