#statesOverlay {
  --columns: 5;
  --size: calc((var(--roomWidth) * var(--scale) - 10px) / var(--columns) - 20px);
  padding: 10px;
  padding-right: 0;
}

#stateFilters {
  justify-content: space-between;
  display: flex;
  padding-right: 10px;
}

#stateFilters .material-icons {
  line-height: 0.5;
  position: relative;
  top: 6px;
}

#filterByTextWrapper {
  flex-grow: 1;
  position: relative;
  border: 1px solid var(--VTTblue);
  border-radius: 11px;
}

#filterByTextWrapper .material-icons {
  font-size: 20px;
  left: -2px;
}

#stateFilters > span {
  white-space: nowrap;
  padding-left: 5px;
}

#filterByText {
  background: none;
  border: none;
  width: calc(100% - 5px - 20px - 10px);
  padding: 2px;
  position: absolute;
  left: 20px;
  top: 0;
}

#stateFilters select {
  background: none;
  border: none;
  border-bottom: 1px solid var(--VTTblue);
}

#stateFilters select, #stateFilters input {
  margin: 0 5px;
}

@media (max-width: 700px), (max-height: 500px) { #filterByDurationWrapper { display: none; } }
@media (max-width: 550px), (max-height: 400px) { #filterByLanguageWrapper { display: none; } }
@media (max-width: 470px), (max-height: 340px) { #filterByModeWrapper     { display: none; } }
@media (max-width: 350px), (max-height: 280px) { #filterByTypeWrapper     { display: none; } }

#statesList, #stateEditOverlay {
  overflow: auto;
}

@media (max-width: 600px), (max-height: 400px) {
  #statesList { overflow: unset; }
  #statesOverlay { overflow: auto; }
}

@media (max-width: 800px), (max-height: 530px) { #statesOverlay { --columns: 4; } }
@media (max-width: 680px), (max-height: 480px) { #statesOverlay { --columns: 3; } }
@media (max-width: 520px), (max-height: 300px) { #statesOverlay { --columns: 2; } }

#statesList .title {
  clear: left;
  padding: 40px;
  padding-bottom: 0;
}

#statesList div:nth-of-type(1) > .title {
  padding-top: 0;
  margin-top: 30px;
}

#addState {
  float: right;
  margin: -51px 15px 0;
}

#emptyLibrary {
  color: black;
  height: calc(var(--size) - 80px - 4px);
  font-style: italic;
  padding: 40px 100px;
  margin: 8px;
}

.roomState {
  color: black;
  float: left;
  width: var(--size);
  height: var(--size);
  position: relative;
  overflow: hidden;

  box-shadow: 0 2px 10px #00000077;
  margin: 8px;
}

.roomState > img {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.roomState > .details {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  background: #00000061;
  text-shadow: 0 0 3px #000;
  color: white;
}

.roomState h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1em;
  margin: 4px;
}

.roomState h4 {
  font-style: italic;
  font-weight: 700;
  font-size: .8rem;
  margin: 4px;
}

.roomState .star {
  display: none;
  position: absolute;
  top: 0;
  background: transparent;
  font-size: 200%;
  text-shadow: 1px 1px 2px #444;
}

div:nth-of-type(1) > .list > .roomState .star {
  color: gold;
}

.roomState.publicLibraryGame .star {
  display: block;
}

.roomState.noImage img {
  display: none;
}

.roomState > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.roomState em {
  display: block;
  margin-bottom: 20px;
}

.details .stats{
  margin-bottom: 8px;
}


#stateEditOverlay label {
  width: 200px;
  display: inline-block;
}

#stateEditOverlay textarea {
  width: 400px;
  height: 300px;
}

#variantsEditList > div {
  margin-bottom: 30px;
}

#stateEditOverlay .input{
  display: flex;
}
.variantsList .prettyButton.play{
  flex-wrap: wrap;
}

.variantsList .prettyButton.play .variant{
  padding-top: 4px;
  border-top: 1px solid #ffffffaa;
  width: 100%;
}
.variantsList .prettyButton.play .variant:empty{
  display: none;
}

#stateFilters {
  margin-bottom: 10px;
}

@media (max-width: 430px) {
  #addState {
    margin-top: 4px;
    float: unset;
  }
}
@media (max-width: 320px), (max-height: 240px) {
  #statesOverlay, .roomState, #emptyLibrary {
    margin:  0;
    padding: 0;
  }
  #statesOverlay h2.title {
    margin:  0 !important;
    padding: 0 !important;
  }
  #filterByPlayersWrapper {
    display: none;
  }
  #addState {
    float: right;
    margin: 4px;
    padding: 4px;
  }
  #emptyLibrary {
    height: unset;
    clear: both;
  }
  .roomState {
    height: 48px;
    width:  100%;
    margin-bottom: 4px;
    box-shadow: unset;
  }
  .roomState > img {
    height: 48px;
    width:  48px;
  }
  .roomState > .details {
    left: 48px;
    height: 48px;
  }
}
