#statesOverlay {
  padding: 2%;
}

#statesList, #stateEditOverlay {
  overflow: auto;
}

.roomState, #addState {
  color: black;
  float: left;
  width: 260px;
  height: 260px;
  position: relative;
  overflow: hidden;
}

.roomState > div {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}

#addState div {
  position: absolute;
}

.roomState a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  font-style: normal;
}

.roomState .details, #addState .buttons {
  display: none;
  overflow: auto;
}

#addState .image {
  font-size: 150px;
  opacity: 0.7;
}

#addState button {
  width: 160px;
}

.roomState > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#addState {
  background: rgba(255, 255, 255, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.roomState em {
  display: block;
  margin-bottom: 20px;
}

.roomState:hover > div, #addState:hover > div, .roomState > div > a {
  display: block;
}

.roomState:hover > img, #addState:hover .image {
  filter: blur(5px);
}

#stateEditOverlay label {
  width: 200px;
  display: inline-block;
}

#stateEditOverlay textarea {
  width: 400px;
  height: 300px;
}

#variantsEditList > div {
  margin-bottom: 30px;
}

#libraryList td, #libraryList th {
  padding: 6px;
}
