#statesOverlay {
  padding: 2%;
}

#statesList, #stateEditOverlay {
  overflow: auto;
}

.roomState {
  color: black;
  display: inline-block;
  width: 260px;
  height: 260px;
  position: relative;
  overflow: hidden;
}

.roomState > div {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.roomState a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  font-style: normal;
}

.roomState .details, .roomState .buttons {
  display: none;
  overflow: auto;
}

#addState .image {
  font-size: 200px;
  opacity: 0.7;
}

#addState input {
  width: 80px;
}

.roomState > img, #addState .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.roomState em {
  display: block;
  margin-bottom: 20px;
}

.roomState:hover > div, .roomState > div > a {
  display: block;
}

.roomState:hover > img, #addState:hover .image {
  filter: blur(5px);
}

#stateEditOverlay label {
  width: 200px;
  display: inline-block;
}
