#loadingRoomIndicator {
  text-align: center;
  margin-top: 485px;
  color: var(--VTTblue);
}
#loadingRoomIndicator + div button {
  margin: auto;
}

#linkDetailsOverlay {
  color: var(--overlayFontColor);
}

#linkDetailsOverlay h1 {
  margin-bottom: 0;
}

#linkDetailsOverlay h2 {
  margin-top: 0;
  font-size: 20px;
}
#linkDetailsOverlay .addToRoomBox {
  position: absolute;
  width: 60%;
  top: calc(20px + var(--mainDetailsHeight));
  left: 20%;
  box-sizing: border-box;
  background: var(--roomColor);
  padding: 20px;
  border-radius: 20px;
}
#linkDetailsOverlay .addToRoomBox > p:first-child {
  margin-top: 0;
}
#linkDetailsOverlay .addToRoomBox > p:last-child {
  margin-bottom: 0;
}
#linkDetailsOverlay .welcomeInput {
  margin: 40px 80px 0;
}
#linkDetailsOverlay .welcomeInput p {
  margin-bottom: 20px;
}
#linkDetailsOverlay .welcomeInput b {
  display: inline-block;
  width: 150px;
}
#linkDetailsOverlay .welcomeInput input {
  width: 100px;
}
#welcomePlayButton {
  margin: auto;
  margin-top: 20px;
}
#welcomeShareButton {
  display: inline-flex;
  padding: 2px;
  vertical-align: middle;
}
#linkDetailsOverlay p[icon]::before {
  left: 32px;
}
