name: Production Environment (checks if server starts)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    name: Production Environment
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install Node.js 16.x
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - name: Install dependencies
      run: npm ci
    - name: Start virtualtabletop server with production settings
      run: |
        cp config.template.json config.json
        sed -i 's/minifyJavascript": false/minifyJavascript": true/' config.json
        npm start &
        sleep 10
        curl -I http://localhost:8272
