# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: TestCafe (loads games, clicks buttons, checks the results)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    name: Run TestCafe Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 15.x
      uses: actions/setup-node@v1
      with:
        node-version: 15.x
    - run: find
    - run: git submodule update
    - run: npm ci
    - run: |
        npm run debug &
        sleep 5
        curl -I http://localhost:8272
    - run: curl -I http://localhost:8272
    - name: Install TestCafe from 'npm' and Run Tests
      uses: DevExpress/testcafe-action@latest
      with:
        args: "chrome:headless tests/testcafe/tests.js"
    - run: curl -I http://localhost:8272
